
# SOCIODEMOGRAPHIC

In [1]:

import numpy as np 
import pandas as pd
pd.options.display.float_format = '{:,.3f}'.format
pd.set_option('display.max_columns', 100)
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_palette("Spectral")
import warnings
warnings.filterwarnings('ignore')
# Cargar el archivo parquet
#df_full = pd.read_parquet("C:/Users/Bobby/Desktop/Master Data Analysis/TFM/easyMoney_fintech/data/df_completo.parquet")
df_full = pd.read_parquet("/Users/claudiacastro/Desktop/df_completo.parquet")
# eliminamos columnas que no aportan información
df_full = df_full.drop(columns=['Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0'], axis=1)

# Ordenar df_full por pk_cid y pk_partition
df_full = df_full.sort_values(by=['pk_cid', 'pk_partition'])

# modificamos el tipo de dato de las columnas, SIMPLEMENTE CAMBIA EL TIPO DE DATO
df_full["pk_partition"] = pd.to_datetime(df_full["pk_partition"])
df_full["entry_date"] = pd.to_datetime(df_full["entry_date"], errors='coerce')
df_full["entry_channel"] = df_full["entry_channel"].astype('category')
df_full['active_customer'] = df_full['active_customer'].astype('int32')
df_full['segment'] = df_full['segment'].astype('category')
df_full['short_term_deposit'] = df_full['short_term_deposit'].astype('int32')
df_full['loans'] = df_full['loans'].astype('int32')
df_full['mortgage'] = df_full['mortgage'].astype('int32')
df_full['funds'] = df_full['funds'].astype('int32')
df_full['securities'] = df_full['securities'].astype('int32')
df_full['long_term_deposit'] = df_full['long_term_deposit'].astype('int32')
df_full['credit_card'] = df_full['credit_card'].astype('int32')
# df_full['payroll'] = df_full['payroll'].astype('int32')
# df_full['pension_plan'] = df_full['pension_plan'].astype('int32')
df_full['payroll_account'] = df_full['payroll_account'].astype('int32')
df_full['emc_account'] = df_full['emc_account'].astype('int32')
df_full['debit_card'] = df_full['debit_card'].astype('int32')
df_full['em_account_p'] = df_full['em_account_p'].astype('int32')
df_full['em_acount'] = df_full['em_acount'].astype('int32')
df_full["country_id"] = df_full["country_id"].astype('category')
df_full["region_code"] = df_full["region_code"].astype('category')
df_full["gender"] =  df_full["gender"].astype('category')
df_full["age"] = df_full["age"].astype('int32')

/Users/claudiacastro/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

## Mes pk_partition

In [2]:
# 'pk_partitions' formato de fecha
df_full['pk_partition'] = pd.to_datetime(df_full['pk_partition'], errors='coerce')

# Extraer el mes de la columna 'pk_partitions' y crear una nueva columna 'mes'
df_full['mes_partition'] = df_full['pk_partition'].dt.month

# Extraer también el nombre del mes:
df_full['mes_nombre_partition'] = df_full['pk_partition'].dt.strftime('%B')

## AGE

In [3]:
# Contar cuántos valores únicos de 'age' tiene cada cliente
estado_por_cliente_age = df_full.groupby('pk_cid')['age'].nunique()

# Identificar clientes con edades mixtas (múltiples valores en 'age')
clientes_mixtos_age = estado_por_cliente_age[estado_por_cliente_age > 1].index

# Excluir los clientes mixtos del análisis de las otras categorías
df_no_mixtos_age = df_full[~df_full['pk_cid'].isin(clientes_mixtos_age)]

# Identificar clientes que tienen siempre la misma edad
clientes_misma_edad = df_no_mixtos_age.groupby('pk_cid')['age'].nunique()
clientes_misma_edad = clientes_misma_edad[clientes_misma_edad == 1].index

# Identificar clientes con valores NaN en 'age' (excluyendo clientes mixtos)
clientes_con_nan_age = df_no_mixtos_age[df_no_mixtos_age['age'].isna()]['pk_cid'].unique()

# Contar el número de clientes en cada categoría (excluyendo mixtos)
n_misma_edad = len(clientes_misma_edad)
n_con_nan_age = len(clientes_con_nan_age)
n_mixtos_age = len(clientes_mixtos_age)

# Mostrar los resultados
print(f"Clientes que tienen siempre la misma edad (excluyendo mixtos): {n_misma_edad}")
print(f"Clientes con valores NaN en 'age' (excluyendo mixtos): {n_con_nan_age}")
print(f"Clientes con edades mixtas (diferentes valores de edad): {n_mixtos_age}")

Clientes que tienen siempre la misma edad (excluyendo mixtos): 114631
Clientes con valores NaN en 'age' (excluyendo mixtos): 0
Clientes con edades mixtas (diferentes valores de edad): 341742

In [4]:
n_total = n_misma_edad + n_con_nan_age + n_mixtos_age
n_total

456373

In [5]:
df_misma_edad = df_full[df_full['pk_cid'].isin(clientes_misma_edad)]
df_edad_mixta = df_full[df_full['pk_cid'].isin(clientes_mixtos_age)]

In [6]:
df_misma_edad["age"].describe()

count   1,200,493.00
mean           29.99
std            12.05
min             2.00
25%            22.00
50%            25.00
75%            35.00
max           102.00
Name: age, dtype: float64

In [7]:
df_edad_mixta["age"].describe()

count   4,762,431.00
mean           29.70
std            11.96
min             2.00
25%            22.00
50%            24.00
75%            34.00
max           105.00
Name: age, dtype: float64

aquí se tomará la decisión de trabajar con la última edad del cliente, también hay que considerar que hay valores entre 2 y 18 años que creo que no son adecuados para la ultilizacion de una aplicacion así y revisar tambien los valores mayores de 100 años.

(Adrián) Sí pueden ser datos reales, de hecho vamos a hacer algunas comprobaciones posteriores.

Vamos a buscar los clientes con edades anómalas, y que podrían ser objetos de una modificación. En este caso vamos a ver primero aquellos que se mantienen siempre con la misma edad, y además son menores

### Edad Constante

1. Identificar clientes con productos activos
Primero, filtramos el DataFrame clientes_misma_edad_menores para obtener los clientes que tienen algún producto activo (donde el valor es 1).

In [8]:
# Filtrar clientes que siempre tienen la misma edad y esa edad es menor a 18 años
clientes_misma_edad_menores = df_misma_edad[df_misma_edad['age'] < 18]

# Mostrar los resultados
clientes_misma_edad_menores

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,...,em_account_p,em_acount,country_id,region_code,gender,age,deceased,salary,mes_partition,mes_nombre_partition
5520651,491473,2019-05-28,2019-04-27,KHM,0,02 - PARTICULARES,0,0,0,0,...,0,0,ES,28.00,V,2,N,NaN,5,May
5081423,541741,2019-04-28,2019-04-07,NaN,0,NaN,0,0,0,0,...,0,0,ES,28.00,V,2,N,NaN,4,April
5520587,541741,2019-05-28,2019-04-07,KHK,0,02 - PARTICULARES,0,0,0,0,...,0,0,ES,28.00,V,2,N,NaN,5,May
1476977,617264,2018-07-28,2018-04-09,NaN,1,NaN,0,0,0,0,...,0,0,ES,28.00,H,13,N,"286,573.44",7,July
1843524,617264,2018-08-28,2018-04-09,KFC,0,02 - PARTICULARES,0,0,0,0,...,0,0,ES,28.00,H,13,N,"286,573.44",8,August
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5679711,1552805,2019-05-28,2019-05-26,NaN,0,NaN,0,0,0,0,...,0,0,ES,28.00,V,2,N,NaN,5,May
5679415,1552858,2019-05-28,2019-05-26,NaN,1,NaN,0,0,0,0,...,0,0,ES,38.00,V,11,N,NaN,5,May
5680043,1553226,2019-05-28,2019-05-30,NaN,0,NaN,0,0,0,0,...,0,0,ES,41.00,H,9,N,NaN,5,May
5680169,1553282,2019-05-28,2019-05-30,NaN,0,NaN,0,0,0,0,...,0,0,ES,43.00,H,4,N,NaN,5,May
5679962,1553550,2019-05-28,2019-05-31,NaN,0,NaN,0,0,0,0,...,0,0,ES,8.00,H,6,N,NaN,5,May

In [9]:
# Lista de productos a analizar
productos = [
    'short_term_deposit', 'loans', 'mortgage', 'funds', 'securities',
    'long_term_deposit', 'em_account_pp', 'credit_card', 'payroll', 
    'pension_plan', 'payroll_account', 'emc_account', 'debit_card', 
    'em_account_p', 'em_acount'
]

# Contar el número de casos donde cada producto ha sido contratado (valor = 1)
conteo_productos = clientes_misma_edad_menores[productos].sum()

# Mostrar el resultado
conteo_productos

short_term_deposit   0.00
loans                0.00
mortgage             0.00
funds                0.00
securities           0.00
long_term_deposit    0.00
em_account_pp        0.00
credit_card          0.00
payroll              2.00
pension_plan         9.00
payroll_account      0.00
emc_account          0.00
debit_card           0.00
em_account_p         0.00
em_acount            3.00
dtype: float64

In [10]:
pd.set_option('display.max_columns', None)

# Filtrar los clientes que tienen productos activos
clientes_con_productos_activos = clientes_misma_edad_menores[clientes_misma_edad_menores[productos].sum(axis=1) > 0]

# Mostrar el resultado
clientes_con_productos_activos

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount,country_id,region_code,gender,age,deceased,salary,mes_partition,mes_nombre_partition
5835610,1005293,2019-05-28,2015-02-16,KFA,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,1.00,0,0,0,0,0,ES,28.00,V,6,N,"81,032.52",5,May
5840803,1021968,2019-05-28,2015-07-04,KFC,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,1.00,0,0,0,0,0,ES,28.00,H,13,N,"318,767.10",5,May
5879905,1244964,2019-05-28,2017-02-24,KAT,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,1.00,0,0,0,0,0,ES,28.00,V,5,N,NaN,5,May
107719,1256153,2018-01-28,2017-05-05,KAT,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,1.00,0,0,0,0,0,ES,11.00,H,12,N,"156,534.36",1,January
1687485,1256153,2018-07-28,2017-05-05,KAT,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,1.00,0,0,0,0,0,ES,11.00,H,12,N,"156,534.36",7,July
4071542,1256153,2019-01-28,2017-05-05,KAT,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,1.00,0,0,0,0,0,ES,11.00,H,12,N,"156,534.36",1,January
5551912,1345478,2019-05-28,2017-10-31,KAT,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,1.00,0,0,0,0,0,ES,28.00,V,4,N,"118,693.50",5,May
1815226,1408784,2018-07-28,2018-07-20,NaN,0,NaN,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,22.00,V,17,N,"56,730.99",7,July
1925092,1408784,2018-08-28,2018-07-20,KHQ,0,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,22.00,V,17,N,"56,730.99",8,August
2458864,1408784,2018-09-28,2018-07-20,KHQ,0,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,22.00,V,17,N,"56,730.99",9,September
3683995,1511109,2018-12-28,2018-12-07,NaN,1,NaN,0,0,0,0,0,0,0,0,1.00,1.00,0,0,0,0,0,ES,39.00,H,7,N,NaN,12,December
5097785,1543904,2019-04-28,2019-04-06,NaN,1,NaN,0,0,0,0,0,0,0,0,1.00,1.00,0,0,0,0,0,ES,28.00,H,9,N,NaN,4,April

2. Repetir el proceso para los active_customer

In [11]:
# Filtrar los clientes menores de 18 años que también son active_customer
clientes_menores_active = clientes_misma_edad_menores[clientes_misma_edad_menores['active_customer'] == 1]

# Contar cuántos clientes cumplen con ambas condiciones
cantidad_menores_active = clientes_menores_active.shape[0]

# Mostrar la cantidad
print(f"Cantidad de clientes menores de 18 años que son active_customer: {cantidad_menores_active}")

# Mostrar la lista de estos clientes
clientes_menores_active

Cantidad de clientes menores de 18 años que son active_customer: 6053

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount,country_id,region_code,gender,age,deceased,salary,mes_partition,mes_nombre_partition
1476977,617264,2018-07-28,2018-04-09,NaN,1,NaN,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,28.00,H,13,N,"286,573.44",7,July
83238,970787,2018-01-28,2015-09-05,KFA,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,28.00,H,14,N,"234,170.37",1,January
395797,970787,2018-02-28,2015-09-05,KFA,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,28.00,H,14,N,"234,170.37",2,February
635515,970787,2018-03-28,2015-09-05,KFA,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,28.00,H,14,N,"234,170.37",3,March
886240,970787,2018-04-28,2015-09-05,KFA,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,28.00,H,14,N,"234,170.37",4,April
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5681102,1552066,2019-05-28,2019-05-24,NaN,1,NaN,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,29.00,H,8,N,NaN,5,May
5681028,1552168,2019-05-28,2019-05-24,NaN,1,NaN,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,28.00,V,11,N,NaN,5,May
5680695,1552311,2019-05-28,2019-05-24,NaN,1,NaN,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,38.00,V,13,N,NaN,5,May
5680884,1552422,2019-05-28,2019-05-26,NaN,1,NaN,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,39.00,V,2,N,NaN,5,May
5679415,1552858,2019-05-28,2019-05-26,NaN,1,NaN,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,38.00,V,11,N,NaN,5,May

### Edad Mixta

En este apartado vamos a corregir errores de tipidficación en la variable Edad. Para ello, vamos a identificar en primer lugar casos en los que la edad tenga saltos mayores de 3 años (dado que el rango máximo de variación para un cliente debería ser este, pues la serie se compone de 3 años), y por otro lado, vamos a identificar aquellos casos en los que se produzca una variación negativa

In [12]:
# Asegúrate de que df_edad_mixta esté ordenado por pk_cid y un índice de tiempo o la posición de las filas.
df_edad_mixta = df_edad_mixta.sort_values(by=['pk_cid', 'pk_partition'])  # Asumiendo que pk_partition representa el tiempo.

# Calcular la diferencia entre la primera y la última edad para cada usuario
df_edad_mixta['dif_edad'] = df_edad_mixta.groupby('pk_cid')['age'].transform(lambda x: x.iloc[-1] - x.iloc[0])

# Mostrar el resultado
df_edad_mixta[['pk_cid', 'age', 'dif_edad']].drop_duplicates()

          pk_cid  age  dif_edad
2171490    16502   57         1
2943633    16502   58         1
237929     17457   53         1
5134250    17457   54         1
1479558    17590   54         1
...          ...  ...       ...
5683006  1548180   38        -1
5100662  1548181   34         1
5683005  1548181   35         1
5100664  1548186   42        -1
5683003  1548186   41        -1

[683660 rows x 3 columns]

#### Edad Mixta. Variación > 3 años

In [13]:
df_edad_mixta_dif_mas3 = df_edad_mixta[df_edad_mixta['dif_edad'] > 3]

df_edad_mixta_dif_mas3["dif_edad"].describe()

count   1,093.00
mean       25.08
std        14.55
min         5.00
25%        14.00
50%        21.00
75%        31.00
max        67.00
Name: dif_edad, dtype: float64

In [14]:
df_edad_mixta[df_edad_mixta['dif_edad'] > 60]

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount,country_id,region_code,gender,age,deceased,salary,mes_partition,mes_nombre_partition,dif_edad
2169124,539069,2018-09-28,2018-09-21,NaN,1,NaN,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,46.00,V,2,N,NaN,9,September,67
2945655,539069,2018-10-28,2018-09-21,KHM,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,46.00,V,2,N,NaN,10,October,67
2955191,539069,2018-11-28,2018-09-21,KHM,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,1,0,1,ES,46.00,V,69,N,NaN,11,November,67
3630152,539069,2018-12-28,2018-09-21,KHM,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,46.00,V,69,N,NaN,12,December,67
4102655,539069,2019-01-28,2018-09-21,KHM,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,1,0,1,ES,46.00,V,69,N,NaN,1,January,67
4479766,539069,2019-02-28,2018-09-21,KHM,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,1,0,1,ES,46.00,V,69,N,NaN,2,February,67
4886596,539069,2019-03-28,2018-09-21,KHM,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,46.00,V,69,N,NaN,3,March,67
5080982,539069,2019-04-28,2018-09-21,KHM,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,46.00,V,69,N,NaN,4,April,67
5520571,539069,2019-05-28,2018-09-21,KHM,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,1,0,1,ES,46.00,V,69,N,NaN,5,May,67
1324522,1308540,2018-06-28,2017-09-16,KFC,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,16.00,V,21,N,"116,896.11",6,June,61
1705495,1308540,2018-07-28,2017-09-16,KFC,1,02 - PARTICULARES,0,0,0,0,0,1,0,0,0.00,0.00,0,0,0,0,1,ES,16.00,V,21,N,"116,896.11",7,July,61
1843994,1308540,2018-08-28,2017-09-16,KFC,1,02 - PARTICULARES,0,0,0,0,0,1,0,0,0.00,0.00,0,0,0,0,1,ES,16.00,V,21,N,"116,896.11",8,August,61
2285397,1308540,2018-09-28,2017-09-16,KFC,1,02 - PARTICULARES,0,0,0,0,0,1,0,0,0.00,0.00,0,0,0,0,1,ES,16.00,V,81,N,"116,896.11",9,September,61
2914975,1308540,2018-10-28,2017-09-16,KFC,1,02 - PARTICULARES,0,0,0,0,0,1,0,0,0.00,0.00,0,0,0,0,1,ES,16.00,V,81,N,"116,896.11",10,October,61
3211564,1308540,2018-11-28,2017-09-16,KFC,1,02 - PARTICULARES,0,0,0,0,0,1,0,0,0.00,0.00,0,0,0,0,1,ES,16.00,V,81,N,"116,896.11",11,November,61
3492786,1308540,2018-12-28,2017-09-16,KFC,1,01 - TOP,0,0,0,0,0,1,0,0,0.00,0.00,0,0,0,0,1,ES,16.00,V,81,N,"116,896.11",12,December,61
3895128,1308540,2019-01-28,2017-09-16,KFC,1,01 - TOP,0,0,0,0,0,1,0,0,0.00,0.00,0,0,0,0,1,ES,16.00,V,81,N,"116,896.11",1,January,61
4244506,1308540,2019-02-28,2017-09-16,KFC,1,01 - TOP,0,0,0,0,0,1,0,0,0.00,0.00,0,0,0,0,1,ES,16.00,V,81,N,"116,896.11",2,February,61
4782661,1308540,2019-03-28,2017-09-16,KFC,1,01 - TOP,0,0,0,0,0,1,0,0,0.00,0.00,0,0,0,0,1,ES,16.00,V,81,N,"116,896.11",3,March,61
5509376,1308540,2019-04-28,2017-09-16,KFC,1,01 - TOP,0,0,0,0,0,1,0,0,0.00,0.00,0,0,0,0,1,ES,16.00,V,82,N,"116,896.11",4,April,61
5626998,1308540,2019-05-28,2017-09-16,KFC,1,01 - TOP,0,0,0,0,0,1,0,0,0.00,0.00,0,0,0,0,1,ES,16.00,V,82,N,"116,896.11",5,May,61
2789487,1490808,2018-10-28,2018-10-26,NaN,0,NaN,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,1.00,H,20,N,NaN,10,October,63
2980287,1490808,2018-11-28,2018-10-26,KHM,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,1.00,H,20,N,NaN,11,November,63
3706992,1490808,2018-12-28,2018-10-26,KHM,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,1.00,H,82,N,NaN,12,December,63
3864721,1490808,2019-01-28,2018-10-26,KHM,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,1.00,H,82,N,NaN,1,January,63
4355379,1490808,2019-02-28,2018-10-26,KHM,0,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,1.00,H,82,N,NaN,2,February,63
4745861,1490808,2019-03-28,2018-10-26,KHM,0,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,1.00,H,83,N,NaN,3,March,63
5115500,1490808,2019-04-28,2018-10-26,KHM,0,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,1.00,H,83,N,NaN,4,April,63
5667106,1490808,2019-05-28,2018-10-26,KHM,0,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,1.00,H,83,N,NaN,5,May,63

In [15]:
df_edad_mixta[(df_edad_mixta['dif_edad'] > 3) & (df_edad_mixta['dif_edad'] < 6)]

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount,country_id,region_code,gender,age,deceased,salary,mes_partition,mes_nombre_partition,dif_edad
1813962,1405875,2018-07-28,2018-07-13,NaN,1,NaN,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,40.00,V,20,N,"116,051.58",7,July,5
1929750,1405875,2018-08-28,2018-07-13,KHM,1,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,40.00,V,24,N,"116,051.58",8,August,5
2466761,1405875,2018-09-28,2018-07-13,KHM,0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,40.00,V,24,N,"116,051.58",9,September,5
2733258,1405875,2018-10-28,2018-07-13,KHM,0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,40.00,V,24,N,"116,051.58",10,October,5
3177827,1405875,2018-11-28,2018-07-13,KHM,0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,40.00,V,25,N,"116,051.58",11,November,5
3776945,1405875,2018-12-28,2018-07-13,KHM,0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,40.00,V,25,N,"116,051.58",12,December,5
3959819,1405875,2019-01-28,2018-07-13,KHM,0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,40.00,V,25,N,"116,051.58",1,January,5
4415986,1405875,2019-02-28,2018-07-13,KHM,0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,40.00,V,25,N,"116,051.58",2,February,5
4676045,1405875,2019-03-28,2018-07-13,KHM,0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,40.00,V,25,N,"116,051.58",3,March,5
5315811,1405875,2019-04-28,2018-07-13,KHM,0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,40.00,V,25,N,"116,051.58",4,April,5
5567609,1405875,2019-05-28,2018-07-13,KHM,0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,40.00,V,25,N,"116,051.58",5,May,5
1947603,1429381,2018-08-28,2018-08-05,NaN,0,NaN,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,4.00,H,20,N,"81,564.12",8,August,5
2530703,1429381,2018-09-28,2018-08-05,KHM,0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,4.00,H,24,N,"81,564.12",9,September,5
2734616,1429381,2018-10-28,2018-08-05,KHM,0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,4.00,H,24,N,"81,564.12",10,October,5
2961404,1429381,2018-11-28,2018-08-05,KHM,0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,4.00,H,24,N,"81,564.12",11,November,5
3757333,1429381,2018-12-28,2018-08-05,KHM,0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,4.00,H,24,N,"81,564.12",12,December,5
3792607,1429381,2019-01-28,2018-08-05,KHM,0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,4.00,H,24,N,"81,564.12",1,January,5
4474788,1429381,2019-02-28,2018-08-05,KHM,0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,4.00,H,25,N,"81,564.12",2,February,5
4692861,1429381,2019-03-28,2018-08-05,KHM,0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,4.00,H,25,N,"81,564.12",3,March,5
5375779,1429381,2019-04-28,2018-08-05,KHM,0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,4.00,H,25,N,"81,564.12",4,April,5
5723834,1429381,2019-05-28,2018-08-05,KHM,0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,4.00,H,25,N,"81,564.12",5,May,5
1952265,1439559,2018-08-28,2018-08-28,NaN,1,NaN,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,41.00,V,21,N,"114,261.93",8,August,5
2527919,1439559,2018-09-28,2018-08-28,KHM,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,41.00,V,20,N,"114,261.93",9,September,5
2817053,1439559,2018-10-28,2018-08-28,KHM,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,41.00,V,20,N,"114,261.93",10,October,5
2976859,1439559,2018-11-28,2018-08-28,KHM,0,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,41.00,V,20,N,"114,261.93",11,November,5
3652266,1439559,2018-12-28,2018-08-28,KHM,0,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,41.00,V,20,N,"114,261.93",12,December,5
3798905,1439559,2019-01-28,2018-08-28,KHM,0,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,41.00,V,20,N,"114,261.93",1,January,5
4451160,1439559,2019-02-28,2018-08-28,KHM,0,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,41.00,V,20,N,"114,261.93",2,February,5
4646388,1439559,2019-03-28,2018-08-28,KHM,0,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,41.00,V,26,N,"114,261.93",3,March,5
5397124,1439559,2019-04-28,2018-08-28,KHM,0,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,41.00,V,26,N,"114,261.93",4,April,5
5711183,1439559,2019-05-28,2018-08-28,KHM,0,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,41.00,V,26,N,"114,261.93",5,May,5

En este caso, vamos a sustituir todos los valores de Age por el último valor conocido, ya que, a futuro lo más coherente será crear categorías de edad en las que se agrupen distintas décadas, por tanto, las variaciones internas de cada cliente van a ser practicamente irrelevantes (si un cliente pasa de 30-33 no es diferenciador), y además, se sobreentiende que los errores de tipificación se corrigen con el tiempo, por tanto, cuanto más reciente sea una entrada, más probable es que sea correcta.

In [16]:
# Paso 1: Filtrar los individuos que cumplen la condición dif_edad > 3
df_edad_mixta_dif_mas3 = df_edad_mixta[df_edad_mixta['dif_edad'] > 3]

# Paso 2: Obtener la última edad registrada (en la última pk_partition) para cada individuo
ultima_edad_por_individuo = df_edad_mixta_dif_mas3.groupby('pk_cid').apply(lambda x: x.loc[x['pk_partition'].idxmax(), 'age'])

# Paso 3: Actualizar la edad en df_full para los individuos que cumplen la condición
def actualizar_edad(row):
    if row['pk_cid'] in ultima_edad_por_individuo.index:
        return ultima_edad_por_individuo[row['pk_cid']]
    else:
        return row['age']

# Aplicar la función para actualizar la edad en df_full
df_full['age'] = df_full.apply(actualizar_edad, axis=1)

# Mostrar el resultado
df_full.head()

/var/folders/kd/0_6lrydd7_98gvywpcnyq6dm0000gn/T/ipykernel_26796/1147662366.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ultima_edad_por_individuo = df_edad_mixta_dif_mas3.groupby('pk_cid').apply(lambda x: x.loc[x['pk_partition'].idxmax(), 'age'])

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount,country_id,region_code,gender,age,deceased,salary,mes_partition,mes_nombre_partition
1479563,15891,2018-07-28,2018-07-28,KAT,1,NaN,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,28.00,H,59,N,NaN,7,July
2168122,15891,2018-08-28,2018-07-28,KAT,0,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,28.00,H,59,N,NaN,8,August
2962973,16063,2018-11-28,2018-11-19,KAT,1,NaN,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,28.00,H,62,N,NaN,11,November
3628236,16063,2018-12-28,2018-11-19,KAT,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,28.00,H,62,N,NaN,12,December
4028169,16063,2019-01-28,2018-11-19,KAT,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,28.00,H,62,N,NaN,1,January

#### Edad Mixta. Variación Negativa

In [17]:
# Filtrar los casos donde la diferencia de edad es menor que 0
df_dif_edad_neg = df_edad_mixta[df_edad_mixta['dif_edad'] < 0]

df_dif_edad_neg["dif_edad"].describe()

count   94,401.00
mean        -1.01
std          0.42
min        -40.00
25%         -1.00
50%         -1.00
75%         -1.00
max         -1.00
Name: dif_edad, dtype: float64

In [18]:
# Visualizar los casos donde la diferencia de edad es menor que 0
df_dif_edad_neg

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount,country_id,region_code,gender,age,deceased,salary,mes_partition,mes_nombre_partition,dif_edad
2943726,46732,2018-10-28,2018-10-08,NaN,1,NaN,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,46.00,V,71,N,NaN,10,October,-1
2977216,46732,2018-11-28,2018-10-08,KFC,1,02 - PARTICULARES,0,0,0,0,0,1,0,0,0.00,0.00,0,0,0,0,1,ES,46.00,V,70,N,NaN,11,November,-1
3628313,46732,2018-12-28,2018-10-08,KFC,1,02 - PARTICULARES,0,0,0,0,0,1,0,0,0.00,0.00,0,0,0,0,1,ES,46.00,V,70,N,NaN,12,December,-1
3839343,46732,2019-01-28,2018-10-08,KFC,1,02 - PARTICULARES,0,0,0,0,0,1,0,0,0.00,0.00,0,0,0,0,1,ES,46.00,V,70,N,NaN,1,January,-1
4480561,46732,2019-02-28,2018-10-08,KFC,1,02 - PARTICULARES,0,0,0,0,0,1,0,0,0.00,0.00,0,0,0,0,1,ES,46.00,V,70,N,NaN,2,February,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5682969,1548156,2019-05-28,2019-04-29,KHN,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,50.00,V,62,N,NaN,5,May,-1
5100661,1548180,2019-04-28,2019-04-29,NaN,0,NaN,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,28.00,H,39,N,NaN,4,April,-1
5683006,1548180,2019-05-28,2019-04-29,KHN,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,28.00,H,38,N,NaN,5,May,-1
5100664,1548186,2019-04-28,2019-04-29,NaN,0,NaN,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,3.00,V,42,N,NaN,4,April,-1
5683003,1548186,2019-05-28,2019-04-29,KHN,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,1.00,1.00,0,0,0,0,1,ES,3.00,V,41,N,NaN,5,May,-1

In [19]:
df_dif_edad_neg[df_dif_edad_neg['dif_edad'] < -1]

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount,country_id,region_code,gender,age,deceased,salary,mes_partition,mes_nombre_partition,dif_edad
3033723,308667,2018-11-28,2018-11-16,NaN,1,NaN,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,50.00,V,65,N,NaN,11,November,-9
3627875,308667,2018-12-28,2018-11-16,KHN,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,50.00,V,65,N,NaN,12,December,-9
4148494,308667,2019-01-28,2018-11-16,KHN,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,50.00,V,55,N,NaN,1,January,-9
4481102,308667,2019-02-28,2018-11-16,KHN,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,1,0,1,ES,50.00,V,55,N,NaN,2,February,-9
4884600,308667,2019-03-28,2018-11-16,KHN,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,1,0,1,ES,50.00,V,55,N,NaN,3,March,-9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5698512,1526523,2019-05-28,2019-01-22,KHN,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,1,0,1,ES,28.00,H,34,N,NaN,5,May,-10
4394326,1530367,2019-02-28,2019-02-05,NaN,0,NaN,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,32.00,V,86,N,NaN,2,February,-40
4720580,1530367,2019-03-28,2019-02-05,KHN,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,1.00,1.00,1,0,1,0,0,ES,32.00,V,86,N,NaN,3,March,-40
5084070,1530367,2019-04-28,2019-02-05,KHN,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,1.00,1.00,1,0,1,0,0,ES,32.00,V,46,N,NaN,4,April,-40
5692137,1530367,2019-05-28,2019-02-05,KHN,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,1.00,1.00,1,0,1,0,0,ES,32.00,V,46,N,NaN,5,May,-40

De igual forma vamos a sustituir todas las edades de los casos con variaciones negativas por la edad que figure en la última entrada de cada usuario

In [20]:
# Paso 1: Obtener la última edad registrada (en la última pk_partition) para cada individuo
ultima_edad_por_individuo_neg = df_dif_edad_neg.groupby('pk_cid').apply(lambda x: x.loc[x['pk_partition'].idxmax(), 'age'])

# Paso 2: Actualizar la edad en df_full para los individuos que cumplen la condición
def actualizar_edad_neg(row):
    if row['pk_cid'] in ultima_edad_por_individuo_neg.index:
        return ultima_edad_por_individuo_neg[row['pk_cid']]
    else:
        return row['age']

# Aplicar la función para actualizar la edad en df_full
df_full['age'] = df_full.apply(actualizar_edad_neg, axis=1)

/var/folders/kd/0_6lrydd7_98gvywpcnyq6dm0000gn/T/ipykernel_26796/1033597339.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ultima_edad_por_individuo_neg = df_dif_edad_neg.groupby('pk_cid').apply(lambda x: x.loc[x['pk_partition'].idxmax(), 'age'])

## COUNTRY ID

In [21]:
# Contar cuántos valores únicos de 'country_id' tiene cada cliente
estado_por_cliente_country = df_full.groupby('pk_cid')['country_id'].nunique()

# Identificar clientes con 'country_id' mixtos (múltiples valores de 'country_id')
clientes_mixtos_country = estado_por_cliente_country[estado_por_cliente_country > 1].index

# Excluir los clientes mixtos del análisis de las otras categorías
df_no_mixtos_country = df_full[~df_full['pk_cid'].isin(clientes_mixtos_country)]

# Identificar clientes que tienen siempre el mismo 'country_id'
clientes_mismo_country = df_no_mixtos_country.groupby('pk_cid')['country_id'].nunique()
clientes_mismo_country = clientes_mismo_country[clientes_mismo_country == 1].index

# Identificar clientes con valores NaN en 'country_id' (excluyendo clientes mixtos)
clientes_con_nan_country = df_no_mixtos_country[df_no_mixtos_country['country_id'].isna()]['pk_cid'].unique()

# Contar el número de clientes en cada categoría (excluyendo mixtos)
n_mismo_country = len(clientes_mismo_country)
n_con_nan_country = len(clientes_con_nan_country)
n_mixtos_country = len(clientes_mixtos_country)

# Mostrar los resultados
print(f"Clientes que tienen siempre el mismo 'country_id' (excluyendo mixtos): {n_mismo_country}")
print(f"Clientes con valores NaN en 'country_id' (excluyendo mixtos): {n_con_nan_country}")
print(f"Clientes con 'country_id' mixtos (diferentes países): {n_mixtos_country}")

Clientes que tienen siempre el mismo 'country_id' (excluyendo mixtos): 456348
Clientes con valores NaN en 'country_id' (excluyendo mixtos): 0
Clientes con 'country_id' mixtos (diferentes países): 25

Los clientes con country id distintos como que antes vivian en un pais y ahora se han mudado para otro, no sé como tratar esto, si mantener el ultimo o el primero. (Adrián) Yo no los cambiaría, la variable indica país de residencia, por tanto, puede ser variable, y son muy pocos casos, no creo que supongan una distorsión de resultados

In [22]:
# Lista de valores únicos en la columna 'country_id'
df_full['country_id'].value_counts()

country_id
ES    5960672
GB        441
FR        225
DE        199
US        195
CH        194
BR         87
BE         81
VE         79
IE         68
MX         58
AT         51
AR         51
PL         49
IT         45
MA         34
CL         30
CN         28
CA         22
DO         17
SN         17
SA         17
RU         17
QA         17
NO         17
CI         17
MR         17
LU         17
CM         17
GA         17
CO         17
ET         17
GT         17
SE         16
JM         11
PT         11
DJ         11
RO          9
HU          8
DZ          7
PE          4
Name: count, dtype: int64

In [23]:
# Filtrar el DataFrame para obtener las filas donde el país es mixto
df_full[df_full['pk_cid'].isin(clientes_mixtos_country)]

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount,country_id,region_code,gender,age,deceased,salary,mes_partition,mes_nombre_partition
1843228,670953,2018-08-28,2018-08-11,NaN,1,NaN,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,8.00,V,39,N,"111,759.69",8,August
2268552,670953,2018-09-28,2018-08-11,KFA,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,8.00,V,39,N,"111,759.69",9,September
2946158,670953,2018-10-28,2018-08-11,KFA,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,8.00,V,39,N,"111,759.69",10,October
2954597,670953,2018-11-28,2018-08-11,KFA,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,8.00,V,39,N,"111,759.69",11,November
3628803,670953,2018-12-28,2018-08-11,KFA,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,GB,NaN,V,39,N,"111,759.69",12,December
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4730692,1519831,2019-03-28,2018-12-29,KHM,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,1,0,1,GB,NaN,H,26,N,NaN,3,March
5121965,1519831,2019-04-28,2018-12-29,KHM,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,1,0,1,GB,NaN,H,26,N,NaN,4,April
5686361,1519831,2019-05-28,2018-12-29,KHM,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,1,0,1,GB,NaN,H,26,N,NaN,5,May
5096824,1542679,2019-04-28,2019-03-31,KHM,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,7.00,V,64,N,NaN,4,April
5672371,1542679,2019-05-28,2019-03-31,KHM,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,US,NaN,V,64,N,NaN,5,May

### Country_ID Mixto

En este caso también vamos a modificar los casos de clientes con un country_id mixto en el DataFrame df_full, y asignarles el último país registrado para su pk_cid, ya que al tratarse solo de 25 clientes, todo parece indicar que se trata de errores en la toma de datos. Además, suponiendo que estos cambios de residencia fueran reales, entonces el salario debería sufrir modificaciones, situación que no se observa en ninguno de los casos. Por tanto, nos vamos a quedar con la información más actualizada de cada individuo

In [24]:
# Obtener el último valor de 'country_id' para cada cliente mixto
ultimo_country_por_cliente = df_full[df_full['pk_cid'].isin(clientes_mixtos_country)].groupby('pk_cid').apply(lambda x: x.loc[x['pk_partition'].idxmax(), 'country_id'])

/var/folders/kd/0_6lrydd7_98gvywpcnyq6dm0000gn/T/ipykernel_26796/39808779.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ultimo_country_por_cliente = df_full[df_full['pk_cid'].isin(clientes_mixtos_country)].groupby('pk_cid').apply(lambda x: x.loc[x['pk_partition'].idxmax(), 'country_id'])

In [25]:
# Función para actualizar el country_id según la última entrada
def actualizar_country_mixto(row):
    if row['pk_cid'] in ultimo_country_por_cliente.index:
        return ultimo_country_por_cliente[row['pk_cid']]
    else:
        return row['country_id']

# Aplicar la función para actualizar el country_id en df_full
df_full['country_id'] = df_full.apply(actualizar_country_mixto, axis=1)

# Verificar los cambios en los clientes mixtos
df_mixtos_actualizados_country = df_full[df_full['pk_cid'].isin(clientes_mixtos_country)]

# Mostrar algunos resultados para verificar
df_mixtos_actualizados_country.head(10)

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount,country_id,region_code,gender,age,deceased,salary,mes_partition,mes_nombre_partition
1843228,670953,2018-08-28,2018-08-11,NaN,1,NaN,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,GB,8.00,V,39,N,"111,759.69",8,August
2268552,670953,2018-09-28,2018-08-11,KFA,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,GB,8.00,V,39,N,"111,759.69",9,September
2946158,670953,2018-10-28,2018-08-11,KFA,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,GB,8.00,V,39,N,"111,759.69",10,October
2954597,670953,2018-11-28,2018-08-11,KFA,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,GB,8.00,V,39,N,"111,759.69",11,November
3628803,670953,2018-12-28,2018-08-11,KFA,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,GB,NaN,V,39,N,"111,759.69",12,December
4103151,670953,2019-01-28,2018-08-11,KFA,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,GB,NaN,V,40,N,"111,759.69",1,January
4479705,670953,2019-02-28,2018-08-11,KFA,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,GB,NaN,V,40,N,"111,759.69",2,February
4887293,670953,2019-03-28,2018-08-11,KFA,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,GB,NaN,V,40,N,"111,759.69",3,March
5080396,670953,2019-04-28,2018-08-11,KFA,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,GB,NaN,V,40,N,"111,759.69",4,April
5520009,670953,2019-05-28,2018-08-11,KFA,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,GB,NaN,V,40,N,"111,759.69",5,May

## DECEASED

In [26]:
# Contar cuántos valores únicos de 'deceased' tiene cada cliente
estado_por_cliente_deceased = df_full.groupby('pk_cid')['deceased'].nunique()

# Identificar clientes con estados mixtos (N y S o con NaN incluido)
clientes_mixtos_deceased = estado_por_cliente_deceased[estado_por_cliente_deceased > 1].index

# Excluir los clientes mixtos del análisis de las otras categorías
df_no_mixtos_deceased = df_full[~df_full['pk_cid'].isin(clientes_mixtos_deceased)]

# Identificar clientes que son siempre 'N'
clientes_siempre_n = df_no_mixtos_deceased[df_no_mixtos_deceased['deceased'] == 'N']['pk_cid'].unique()

# Identificar clientes que son siempre 'S'
clientes_siempre_s = df_no_mixtos_deceased[df_no_mixtos_deceased['deceased'] == 'S']['pk_cid'].unique()

# Identificar clientes con valores NaN en 'deceased' (excluyendo clientes mixtos)
clientes_con_nan_deceased = df_no_mixtos_deceased[df_no_mixtos_deceased['deceased'].isna()]['pk_cid'].unique()

# Contar el número de clientes en cada categoría (excluyendo mixtos)
n_siempre_n = len(clientes_siempre_n)
n_siempre_s = len(clientes_siempre_s)
n_con_nan_deceased = len(clientes_con_nan_deceased)
n_mixtos_deceased = len(clientes_mixtos_deceased)

# Mostrar los resultados
print(f"Clientes que son siempre 'N' en 'deceased' (excluyendo mixtos): {n_siempre_n}")
print(f"Clientes que son siempre 'S' en 'deceased' (excluyendo mixtos): {n_siempre_s}")
print(f"Clientes con valores NaN en 'deceased' (excluyendo mixtos): {n_con_nan_deceased}")
print(f"Clientes con estados mixtos en 'deceased' (N, S o NaN): {n_mixtos_deceased}")

Clientes que son siempre 'N' en 'deceased' (excluyendo mixtos): 456244
Clientes que son siempre 'S' en 'deceased' (excluyendo mixtos): 55
Clientes con valores NaN en 'deceased' (excluyendo mixtos): 0
Clientes con estados mixtos en 'deceased' (N, S o NaN): 74

In [27]:
n_total = n_siempre_n + n_siempre_s + n_con_nan_deceased + n_mixtos_deceased
n_total

456373

hay 55 clientes muertos desde la primera ingesta de datos incluido el entry_date, serán errores o se tendrán que analizar mas a fondo así como los que cambian

### Deceased Constante

In [28]:
# Filtrar los clientes que son siempre 'S' en 'deceased'
df_siempre_s = df_full[df_full['pk_cid'].isin(clientes_siempre_s)]

# Ahora muestra la tabla completa para los clientes que son siempre 'S' en 'deceased'
df_siempre_s['age'].value_counts()

age
83     41
84     41
90     40
89     27
98     25
72     25
58     25
85     24
54     23
25     22
61     22
59     21
88     20
93     19
53     18
95     17
21     16
75     16
77     16
48     16
86     15
38     14
87     14
101    14
26     12
69     12
100    12
92     12
60     11
102    10
91     10
28     10
76     10
20      9
70      9
35      9
22      9
63      8
42      8
43      8
65      8
57      7
27      7
56      7
52      7
41      7
71      5
34      5
55      4
66      3
23      2
99      2
39      2
62      1
49      1
94      1
Name: count, dtype: int64

### Deceased Mixto

In [29]:
# Filtrar los clientes que tienen estados mixtos en 'deceased'
df_mixtos_deceased = df_full[df_full['pk_cid'].isin(clientes_mixtos_deceased)]

df_mixtos_deceased['age'].value_counts()

age
95     45
65     42
55     39
91     39
86     39
54     37
80     33
81     33
43     33
53     33
52     32
62     31
44     31
68     30
76     30
96     27
87     27
75     26
66     26
83     25
21     24
56     21
45     20
59     19
92     18
90     17
93     16
23     16
85     15
67     15
100    15
47     14
89     14
58     14
79     14
78     14
64     14
97     13
72     13
88     12
48     12
69     11
82     10
38      9
70      9
71      8
46      7
22      6
31      6
94      5
101     4
39      3
60      3
77      3
63      2
99      1
24      1
32      1
Name: count, dtype: int64

Como podemos comprobar, por un lado, la variable deceased tiene una variabilidad practicamente despreciable, por tanto, es lógico pensar que dicha variable no va a tener una capacidad explicativa suficiente.

No vamos a tener en cuenta la variable deceased para hacer modelos al no tener ninguna capacidad predictiva ni explicativa.

Además dada su alta correlación con otras variables como el grupo de edad, es prudente elimiarla en los modleos para no caer en problemas de multicolinealidad entre las variables explicativas

## GENDER

In [30]:
# se crea una categoria Unknown para los valores nulos
df_full["gender"] = df_full["gender"].cat.add_categories(["Unknown"]).fillna("Unknown")

df_full.groupby("gender")["pk_cid"].nunique().apply(lambda x: x/df_full["pk_cid"].nunique()*100)

/var/folders/kd/0_6lrydd7_98gvywpcnyq6dm0000gn/T/ipykernel_26796/2251678930.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_full.groupby("gender")["pk_cid"].nunique().apply(lambda x: x/df_full["pk_cid"].nunique()*100)

gender
H         51.24
V         48.76
Unknown    0.00
Name: pk_cid, dtype: float64

In [31]:
df_full.groupby("gender")["pk_cid"].nunique()

/var/folders/kd/0_6lrydd7_98gvywpcnyq6dm0000gn/T/ipykernel_26796/204718755.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_full.groupby("gender")["pk_cid"].nunique()

gender
H          233862
V          222550
Unknown         2
Name: pk_cid, dtype: int64

In [32]:
df_full.groupby("gender")["pk_cid"].nunique().sum()
# se observa que hay 41 valores más que la cantidad de clientes únicos
# lo que representa que hay clientes con más de un género asignado

/var/folders/kd/0_6lrydd7_98gvywpcnyq6dm0000gn/T/ipykernel_26796/3905795626.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_full.groupby("gender")["pk_cid"].nunique().sum()

456414

### Análisis Géneros

In [33]:

# Contar cuántos valores únicos tiene cada cliente en la columna gender
estado_por_cliente_gender = df_full.groupby('pk_cid')['gender'].agg(['nunique', 'count'])

# Identificar clientes con géneros mixtos (H y F o Unknown)
clientes_mixtos_gender = estado_por_cliente_gender[estado_por_cliente_gender['nunique'] > 1].index

# Excluir los clientes mixtos del análisis de las otras categorías
df_no_mixtos_gender = df_full[~df_full['pk_cid'].isin(clientes_mixtos_gender)]

# Identificar clientes que son siempre 'H'
clientes_siempre_H = df_no_mixtos_gender[df_no_mixtos_gender['gender'] == 'H']['pk_cid'].unique()

# Identificar clientes que son siempre 'V'
clientes_siempre_V = df_no_mixtos_gender[df_no_mixtos_gender['gender'] == 'V']['pk_cid'].unique()

# Identificar clientes "Unknown" en gender (excluyendo clientes mixtos)
clientes_siempre_Unknown = df_no_mixtos_gender[df_no_mixtos_gender['gender'] == "Unknown"]['pk_cid'].unique()

# Contar el número de clientes en cada categoría (excluyendo mixtos)
n_siempre_H = len(clientes_siempre_H)
n_siempre_V = len(clientes_siempre_V)
n_siempre_Unknown = len(clientes_siempre_Unknown)
n_mixtos_gender = len(clientes_mixtos_gender)

# Mostrar los resultados
print(f"Clientes que son siempre 'H' en 'gender' (excluyendo mixtos): {n_siempre_H}")
print(f"Clientes que son siempre 'V' en 'gender' (excluyendo mixtos): {n_siempre_V}")
print(f"Clientes que son todo 'Unknown' (excluyendo mixtos): {n_siempre_Unknown}")
print(f"Clientes con géneros mixtos (H y V o Unknown): {n_mixtos_gender}")
print(f"Total de clientes en el dataset: {n_siempre_H + n_siempre_V + n_siempre_Unknown + n_mixtos_gender}")

Clientes que son siempre 'H' en 'gender' (excluyendo mixtos): 233821
Clientes que son siempre 'V' en 'gender' (excluyendo mixtos): 222509
Clientes que son todo 'Unknown' (excluyendo mixtos): 2
Clientes con géneros mixtos (H y V o Unknown): 41
Total de clientes en el dataset: 456373

In [34]:
# Poroporciones
n_total = n_siempre_H + n_siempre_V + n_siempre_Unknown + n_mixtos_gender
p_siempre_H = n_siempre_H / n_total * 100
p_siempre_V = n_siempre_V / n_total * 100
p_siempre_Unknown = n_siempre_Unknown / n_total * 100
p_mixtos_gender = n_mixtos_gender / n_total * 100

# Mostrar los resultados
print(f"Clientes que son siempre 'H': {p_siempre_H:.2f}%")
print(f"Clientes que son siempre 'V': {p_siempre_V:.2f}%")
print(f"Clientes que son todo 'Unknown': {p_siempre_Unknown:.5f}%")
print(f"Clientes con géneros mixtos (H y V o Unknown): {p_mixtos_gender:.3f}%")

Clientes que son siempre 'H': 51.23%
Clientes que son siempre 'V': 48.76%
Clientes que son todo 'Unknown': 0.00044%
Clientes con géneros mixtos (H y V o Unknown): 0.009%

### Género unknown constante

In [35]:
# Clientes donde el valor de 'gender' es 'Unknown'
df_full[df_full['gender'] == "Unknown"]

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount,country_id,region_code,gender,age,deceased,salary,mes_partition,mes_nombre_partition
2168807,216507,2018-08-28,2018-08-17,NaN,1,NaN,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,28.00,Unknown,72,N,"104,296.62",8,August
2172127,216507,2018-09-28,2018-08-17,KHO,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,28.00,Unknown,72,N,"104,296.62",9,September
2943933,216507,2018-10-28,2018-08-17,KHO,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,28.00,Unknown,72,N,"104,296.62",10,October
3033652,216507,2018-11-28,2018-08-17,KHO,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,1,0,0,0,ES,28.00,Unknown,72,N,"104,296.62",11,November
3627544,216507,2018-12-28,2018-08-17,KHO,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,1,0,0,0,ES,28.00,Unknown,72,N,"104,296.62",12,December
3839882,216507,2019-01-28,2018-08-17,KHO,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,1,0,0,0,ES,28.00,Unknown,73,N,"104,296.62",1,January
4481238,216507,2019-02-28,2018-08-17,KHO,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,1,0,0,0,ES,28.00,Unknown,72,N,"104,296.62",2,February
4875861,216507,2019-03-28,2018-08-17,KHO,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,1,0,0,0,ES,28.00,Unknown,73,N,"104,296.62",3,March
5133231,216507,2019-04-28,2018-08-17,KHO,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,1,0,0,0,ES,28.00,Unknown,73,N,"104,296.62",4,April
5523191,216507,2019-05-28,2018-08-17,KHO,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,1,0,0,0,ES,28.00,Unknown,73,N,"104,296.62",5,May
482482,476023,2018-03-28,2018-03-12,KHL,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,28.00,Unknown,69,N,"89,991.42",3,March
727801,476023,2018-04-28,2018-03-12,KHL,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,28.00,Unknown,69,N,"89,991.42",4,April
1224152,476023,2018-05-28,2018-03-12,KHL,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,1,0,1,ES,28.00,Unknown,69,N,"89,991.42",5,May
1476252,476023,2018-06-28,2018-03-12,KHL,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,1,0,1,ES,28.00,Unknown,69,N,"89,991.42",6,June
1477367,476023,2018-07-28,2018-03-12,KHL,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,1,0,1,ES,28.00,Unknown,69,N,"89,991.42",7,July
1842989,476023,2018-08-28,2018-03-12,KHL,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,1,0,1,ES,28.00,Unknown,69,N,"89,991.42",8,August
2169657,476023,2018-09-28,2018-03-12,KHL,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,1,0,1,ES,28.00,Unknown,69,N,"89,991.42",9,September
2946003,476023,2018-10-28,2018-03-12,KHL,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,1,0,1,ES,28.00,Unknown,69,N,"89,991.42",10,October
2953625,476023,2018-11-28,2018-03-12,KHL,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,1,0,1,ES,28.00,Unknown,69,N,"89,991.42",11,November
3629885,476023,2018-12-28,2018-03-12,KHL,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,1,0,1,ES,28.00,Unknown,69,N,"89,991.42",12,December
4102914,476023,2019-01-28,2018-03-12,KHL,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,1,0,1,ES,28.00,Unknown,69,N,"89,991.42",1,January
4478901,476023,2019-02-28,2018-03-12,KHL,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,1,0,1,ES,28.00,Unknown,69,N,"89,991.42",2,February
4887017,476023,2019-03-28,2018-03-12,KHL,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,1,0,1,ES,28.00,Unknown,69,N,"89,991.42",3,March
5133985,476023,2019-04-28,2018-03-12,KHL,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,1,0,1,ES,28.00,Unknown,70,N,"89,991.42",4,April
5524103,476023,2019-05-28,2018-03-12,KHL,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,1,0,1,ES,28.00,Unknown,70,N,"89,991.42",5,May

In [36]:
# Reemplazar el valor 'Unknown' por 'H' en la columna 'gender'
df_full.loc[df_full['gender'] == "Unknown", 'gender'] = "H"

Vamos a imputar los Unknown y los vamos a cambiar por Hombre, ya que, ambos individuos superan los 70 años (sería extraño que se identiffiquen como género fluido y la variable H es la que presenta mayor proporción, por tanto lo imputaremos a esta)

### Género Unknown Mixto

In [37]:
# Aplicar el método ffill y bfill para imputar Unknown dentro de cada grupo
df_full['gender'] = df_full.groupby('pk_cid')['gender'].transform(lambda x: x.ffill().bfill())

# Verificar si hay todavía valores Unknown después de la imputación
unknown_after = df_full[df_full['gender'] == "Unknown"]

print(f"Número de valores 'Unknown' después de la imputación: {len(unknown_after)}")

Número de valores 'Unknown' después de la imputación: 0

### Géneros Mixtos

También vamos a modificar los casos en lso que el género es mixto, tomando el último valor registrado para cada individuo, ya que como hemos apuntado anteriormente, es lógico pensar que la última entrada de cada cliente es la más actualizada, y por tanto, la correcta

In [38]:
# Obtener el último valor de 'gender' para cada cliente mixto
ultimo_genero_por_cliente = df_full[df_full['pk_cid'].isin(clientes_mixtos_gender)].groupby('pk_cid').apply(lambda x: x.loc[x['pk_partition'].idxmax(), 'gender'])

/var/folders/kd/0_6lrydd7_98gvywpcnyq6dm0000gn/T/ipykernel_26796/3900572129.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ultimo_genero_por_cliente = df_full[df_full['pk_cid'].isin(clientes_mixtos_gender)].groupby('pk_cid').apply(lambda x: x.loc[x['pk_partition'].idxmax(), 'gender'])

In [39]:
# Función para actualizar el género según la última entrada
def actualizar_genero_mixto(row):
    if row['pk_cid'] in ultimo_genero_por_cliente.index:
        return ultimo_genero_por_cliente[row['pk_cid']]
    else:
        return row['gender']

# Aplicar la función para actualizar el género en df_full
df_full['gender'] = df_full.apply(actualizar_genero_mixto, axis=1)

# Verificar los cambios en los clientes mixtos
df_mixtos_actualizados = df_full[df_full['pk_cid'].isin(clientes_mixtos_gender)]

In [40]:
# Mostrar algunos resultados para verificar
df_mixtos_actualizados.head(20)

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount,country_id,region_code,gender,age,deceased,salary,mes_partition,mes_nombre_partition
81224,1012963,2018-01-28,2015-04-23,KHD,0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,15.00,H,24,N,"132,481.59",1,January
403796,1012963,2018-02-28,2015-04-23,KHD,0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,15.00,H,24,N,"132,481.59",2,February
640152,1012963,2018-03-28,2015-04-23,KHD,0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,15.00,H,24,N,"132,481.59",3,March
894546,1012963,2018-04-28,2015-04-23,KHD,0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,15.00,H,24,N,"132,481.59",4,April
1063018,1012963,2018-05-28,2015-04-23,KHD,0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,15.00,H,24,N,"132,481.59",5,May
1315419,1012963,2018-06-28,2015-04-23,KHD,0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,15.00,H,24,N,"132,481.59",6,June
1612841,1012963,2018-07-28,2015-04-23,KHD,0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,15.00,H,24,N,"132,481.59",7,July
1832939,1012963,2018-08-28,2015-04-23,KHD,0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,15.00,H,24,N,"132,481.59",8,August
2324883,1012963,2018-09-28,2015-04-23,KHD,0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,15.00,H,24,N,"132,481.59",9,September
2660594,1012963,2018-10-28,2015-04-23,KHD,0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,15.00,H,24,N,"132,481.59",10,October
3322462,1012963,2018-11-28,2015-04-23,KHD,1,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,15.00,H,24,N,"132,481.59",11,November
3372588,1012963,2018-12-28,2015-04-23,KHD,1,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,15.00,H,24,N,"132,481.59",12,December
4193730,1012963,2019-01-28,2015-04-23,KHD,0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,15.00,H,24,N,"132,481.59",1,January
4525918,1012963,2019-02-28,2015-04-23,KHQ,1,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,15.00,H,24,N,"132,481.59",2,February
5016917,1012963,2019-03-28,2015-04-23,KHQ,1,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,15.00,H,24,N,"132,481.59",3,March
5283655,1012963,2019-04-28,2015-04-23,KHQ,1,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,15.00,H,24,N,"132,481.59",4,April
5835464,1012963,2019-05-28,2015-04-23,KHQ,0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,15.00,H,25,N,"132,481.59",5,May
3405770,1094303,2018-12-28,2018-12-31,KFC,0,NaN,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,45.00,V,54,N,NaN,12,December
4121101,1094303,2019-01-28,2018-12-31,KFC,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,45.00,V,54,N,NaN,1,January
4503432,1094303,2019-02-28,2018-12-31,KFC,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,45.00,V,54,N,NaN,2,February

## REGION_CODE

In [41]:
# valores nulos en region_code ponerlos como Unknown
df_full["region_code"] = df_full["region_code"].cat.add_categories(["Unknown"]).fillna("Unknown")

In [42]:
# Contar cuántos valores únicos de 'region_code' tiene cada cliente
estado_por_cliente_region = df_full.groupby('pk_cid')['region_code'].nunique()

# Identificar clientes con múltiples códigos de región (cambios de región)
clientes_mixtos_region = estado_por_cliente_region[estado_por_cliente_region > 1].index

# Excluir los clientes mixtos del análisis de las otras categorías
df_no_mixtos_region = df_full[~df_full['pk_cid'].isin(clientes_mixtos_region)]

# Identificar clientes que tienen siempre el mismo código de región
clientes_mismo_region = df_no_mixtos_region.groupby('pk_cid')['region_code'].nunique()
clientes_mismo_region = clientes_mismo_region[clientes_mismo_region == 1].index

# Identificar clientes con valores NaN en 'region_code' (excluyendo clientes mixtos)
clientes_con_nan_region = df_no_mixtos_region[df_no_mixtos_region['region_code'].isna()]['pk_cid'].unique()

# Contar el número de clientes en cada categoría (excluyendo mixtos)
n_mismo_region = len(clientes_mismo_region)
n_con_nan_region = len(clientes_con_nan_region)
n_mixtos_region = len(clientes_mixtos_region)

# Mostrar los resultados
print(f"Clientes que tienen siempre el mismo código de región (excluyendo mixtos): {n_mismo_region}")
print(f"Clientes con valores NaN en 'region_code' (excluyendo mixtos): {n_con_nan_region}")
print(f"Clientes con códigos de región mixtos (diferentes códigos): {n_mixtos_region}")

Clientes que tienen siempre el mismo código de región (excluyendo mixtos): 454305
Clientes con valores NaN en 'region_code' (excluyendo mixtos): 0
Clientes con códigos de región mixtos (diferentes códigos): 2068

In [43]:
# se comprueba que la suma de los clientes en cada región es igual a la cantidad de clientes únicos
n_total = n_mismo_region + n_con_nan_region + n_mixtos_region
n_total

456373

In [44]:
df_full[df_full["region_code"] == 'Unknown']

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount,country_id,region_code,gender,age,deceased,salary,mes_partition,mes_nombre_partition
240946,130419,2018-02-28,2017-12-31,KAT,0,02 - PARTICULARES,0,0,0,0,0,0,0,1,0.00,0.00,0,0,0,0,0,US,Unknown,V,53,N,NaN,2,February
483522,130419,2018-03-28,2017-12-31,KAT,0,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,US,Unknown,V,53,N,NaN,3,March
728777,130419,2018-04-28,2017-12-31,KAT,0,02 - PARTICULARES,0,0,0,0,0,0,0,1,0.00,0.00,0,0,0,0,0,US,Unknown,V,53,N,NaN,4,April
1223095,130419,2018-05-28,2017-12-31,KAT,0,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,US,Unknown,V,53,N,NaN,5,May
1479139,130419,2018-07-28,2017-12-31,KAT,0,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,US,Unknown,V,53,N,NaN,7,July
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5083649,1530982,2019-04-28,2019-02-09,KAT,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,GB,Unknown,V,33,N,NaN,4,April
5692590,1530982,2019-05-28,2019-02-09,KAT,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,1.00,1.00,1,0,0,0,0,GB,Unknown,V,33,N,NaN,5,May
5672371,1542679,2019-05-28,2019-03-31,KHM,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,US,Unknown,V,64,N,NaN,5,May
5097292,1544346,2019-04-28,2019-04-08,NaN,1,NaN,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,FR,Unknown,H,46,N,NaN,4,April
5682097,1544346,2019-05-28,2019-04-08,KFA,1,02 - PARTICULARES,0,0,0,1,0,0,0,0,0.00,0.00,0,0,0,0,1,FR,Unknown,H,46,N,NaN,5,May

In [45]:
# Filtra el DataFrame según las condiciones especificadas
filtered_df = df_full[(df_full["region_code"] == 'Unknown') & (df_full["country_id"] == 'ES')]

filtered_df

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount,country_id,region_code,gender,age,deceased,salary,mes_partition,mes_nombre_partition
4320,1054714,2018-01-28,2015-08-29,KAT,1,01 - TOP,0,0,0,1,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,Unknown,V,40,N,NaN,1,January
480274,1054714,2018-02-28,2015-08-29,KAT,1,01 - TOP,0,0,0,1,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,Unknown,V,40,N,NaN,2,February
720817,1054714,2018-03-28,2015-08-29,KAT,1,01 - TOP,0,0,0,1,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,Unknown,V,40,N,NaN,3,March
965232,1054714,2018-04-28,2015-08-29,KAT,1,01 - TOP,0,0,0,1,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,Unknown,V,40,N,NaN,4,April
980872,1054714,2018-05-28,2015-08-29,KAT,1,01 - TOP,0,0,0,1,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,Unknown,V,40,N,NaN,5,May
1231884,1054714,2018-06-28,2015-08-29,KAT,1,01 - TOP,0,0,0,1,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,Unknown,V,40,N,NaN,6,June
1586303,1054714,2018-07-28,2015-08-29,KAT,1,01 - TOP,0,0,0,1,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,Unknown,V,40,N,NaN,7,July
2047525,1054714,2018-08-28,2015-08-29,KAT,1,01 - TOP,0,0,0,1,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,Unknown,V,40,N,NaN,8,August
2327704,1054714,2018-09-28,2015-08-29,KAT,1,01 - TOP,0,0,0,1,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,Unknown,V,40,N,NaN,9,September
2676369,1054714,2018-10-28,2015-08-29,KAT,1,01 - TOP,0,0,0,1,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,Unknown,V,41,N,NaN,10,October
3346533,1054714,2018-11-28,2015-08-29,KAT,1,01 - TOP,0,0,0,1,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,Unknown,V,41,N,NaN,11,November
3433460,1054714,2018-12-28,2015-08-29,KAT,1,01 - TOP,0,0,0,1,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,Unknown,V,41,N,NaN,12,December
215020,1234433,2018-01-28,2016-12-27,KFC,1,02 - PARTICULARES,0,0,0,0,0,0,0,1,1.00,1.00,0,0,1,0,0,ES,Unknown,V,45,N,NaN,1,January
276408,1234433,2018-02-28,2016-12-27,KFC,1,02 - PARTICULARES,0,0,0,0,0,0,0,1,1.00,1.00,1,0,1,0,0,ES,Unknown,V,45,N,NaN,2,February
517930,1234433,2018-03-28,2016-12-27,KFC,1,02 - PARTICULARES,0,0,0,0,0,0,0,1,1.00,1.00,0,0,1,0,0,ES,Unknown,V,45,N,NaN,3,March
760234,1234433,2018-04-28,2016-12-27,KFC,1,02 - PARTICULARES,0,0,0,0,0,0,0,1,1.00,1.00,0,0,1,0,0,ES,Unknown,V,45,N,NaN,4,April
1190279,1234433,2018-05-28,2016-12-27,KFC,1,02 - PARTICULARES,0,0,0,0,0,0,0,1,1.00,1.00,0,0,1,0,0,ES,Unknown,V,45,N,NaN,5,May
1442145,1234433,2018-06-28,2016-12-27,KFC,1,02 - PARTICULARES,0,0,0,0,0,0,0,1,1.00,1.00,0,0,1,0,0,ES,Unknown,V,45,N,NaN,6,June
1744982,1234433,2018-07-28,2016-12-27,KFC,1,02 - PARTICULARES,0,0,0,0,0,0,0,1,1.00,1.00,0,0,1,0,0,ES,Unknown,V,45,N,NaN,7,July
2113491,1234433,2018-08-28,2016-12-27,KFC,1,02 - PARTICULARES,0,0,0,0,0,0,0,1,1.00,1.00,0,0,1,0,0,ES,Unknown,V,45,N,NaN,8,August
2256273,1234433,2018-09-28,2016-12-27,KFC,1,02 - PARTICULARES,0,0,0,0,0,0,0,1,0.00,0.00,0,0,1,0,0,ES,Unknown,V,45,N,NaN,9,September
2864559,1234433,2018-10-28,2016-12-27,KFC,1,02 - PARTICULARES,0,0,0,0,0,0,0,1,0.00,0.00,0,0,0,0,0,ES,Unknown,V,45,N,NaN,10,October
3044630,1234433,2018-11-28,2016-12-27,KFC,1,02 - PARTICULARES,0,0,0,0,0,0,0,1,0.00,0.00,0,0,0,0,0,ES,Unknown,V,45,N,NaN,11,November
3483305,1234433,2018-12-28,2016-12-27,KFC,1,02 - PARTICULARES,0,0,0,0,0,0,0,1,0.00,0.00,0,0,0,0,0,ES,Unknown,V,45,N,NaN,12,December
115607,1282323,2018-01-28,2017-07-28,KFC,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,1,0,1,ES,Unknown,V,44,N,NaN,1,January
359048,1282323,2018-02-28,2017-07-28,KFC,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,Unknown,V,44,N,NaN,2,February
611838,1282323,2018-03-28,2017-07-28,KFC,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,1,0,1,ES,Unknown,V,44,N,NaN,3,March
849747,1282323,2018-04-28,2017-07-28,KFC,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,Unknown,V,44,N,NaN,4,April
1088985,1282323,2018-05-28,2017-07-28,KFC,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,1,0,1,ES,Unknown,V,44,N,NaN,5,May
1336156,1282323,2018-06-28,2017-07-28,KFC,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,1,0,1,ES,Unknown,V,44,N,NaN,6,June
1683023,1282323,2018-07-28,2017-07-28,KFC,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,1,0,1,ES,Unknown,V,44,N,NaN,7,July
1908755,1282323,2018-08-28,2017-07-28,KFC,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,1,0,1,ES,Unknown,V,44,N,NaN,8,August
1771136,1388776,2018-07-28,2018-03-23,KAT,0,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,Unknown,H,65,N,NaN,7,July
1992877,1388776,2018-08-28,2018-03-23,KAT,0,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,Unknown,H,65,N,NaN,8,August
2452666,1388776,2018-09-28,2018-03-23,KAT,0,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,Unknown,H,65,N,NaN,9,September
2772696,1388776,2018-10-28,2018-03-23,KAT,0,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,Unknown,H,65,N,NaN,10,October
3200415,1388776,2018-11-28,2018-03-23,KAT,0,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,Unknown,H,65,N,NaN,11,November
1117049,1396767,2018-05-28,2018-05-12,KHM,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,Unknown,H,34,N,NaN,5,May
1365754,1396767,2018-06-28,2018-05-12,KHM,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,1,ES,Unknown,H,34,N,NaN,6,June
1776762,1396767,2018-07-28,2018-05-12,KHM,1,02 - PARTICULARES,1,0,0,0,0,1,0,0,0.00,0.00,0,0,0,0,1,ES,Unknown,H,34,N,NaN,7,July
1936482,1396767,2018-08-28,2018-05-12,KHM,1,02 - PARTICULARES,1,0,0,0,0,1,0,0,0.00,0.00,0,0,0,0,1,ES,Unknown,H,34,N,NaN,8,August
2446733,1396767,2018-09-28,2018-05-12,KHM,1,02 - PARTICULARES,1,0,0,0,0,1,0,0,0.00,0.00,0,0,0,0,1,ES,Unknown,H,34,N,NaN,9,September
2765364,1396767,2018-10-28,2018-05-12,KHM,1,02 - PARTICULARES,0,0,0,0,0,1,0,0,0.00,0.00,0,0,0,0,1,ES,Unknown,H,34,N,NaN,10,October
3198979,1396767,2018-11-28,2018-05-12,KHM,1,02 - PARTICULARES,0,0,0,0,0,1,0,0,0.00,0.00,0,0,0,0,1,ES,Unknown,H,34,N,NaN,11,November
3782099,1396767,2018-12-28,2018-05-12,KHM,1,02 - PARTICULARES,0,0,0,0,0,1,0,0,0.00,0.00,0,0,0,0,1,ES,Unknown,H,34,N,NaN,12,December
3964599,1396767,2019-01-28,2018-05-12,KHM,1,02 - PARTICULARES,0,0,0,0,0,1,0,0,0.00,0.00,0,0,0,0,1,ES,Unknown,H,34,N,NaN,1,January
4418247,1396767,2019-02-28,2018-05-12,KHM,1,02 - PARTICULARES,0,0,0,0,0,1,0,0,0.00,0.00,0,0,0,0,1,ES,Unknown,H,34,N,NaN,2,February
4682048,1396767,2019-03-28,2018-05-12,KHM,1,02 - PARTICULARES,0,0,0,0,0,1,0,0,0.00,0.00,0,0,0,0,1,ES,Unknown,H,34,N,NaN,3,March
5292392,1396767,2019-04-28,2018-05-12,KHM,1,02 - PARTICULARES,0,0,0,0,0,1,0,0,0.00,0.00,0,0,0,0,1,ES,Unknown,H,34,N,NaN,4,April

### Sustitución de region 'Unknowns'

Vamos a sustituir region_code por 28 en estos casos, al ser Madrid la región más repetida, y por 00 en los casos de fuera de España

In [46]:
# Verificar las categorías actuales
print("Categorías actuales:", df_full['region_code'].cat.categories)

# Agregar nuevas categorías
df_full['region_code'] = df_full['region_code'].cat.add_categories(['28', '00'])

# Aplicar las actualizaciones
df_full.loc[(df_full["region_code"] == 'Unknown') & (df_full["country_id"] == 'ES'), "region_code"] = '28'
df_full.loc[(df_full["region_code"] == 'Unknown') & (df_full["country_id"] != 'ES'), "region_code"] = '00'

# Verifica si quedan valores 'Unknown'
unknown_rows = df_full[df_full["region_code"] == 'Unknown']

unknown_rows

Categorías actuales: Index([      1.0,       2.0,       3.0,       4.0,       5.0,       6.0,
             7.0,       8.0,       9.0,      10.0,      11.0,      12.0,
            13.0,      14.0,      15.0,      16.0,      17.0,      18.0,
            19.0,      20.0,      21.0,      22.0,      23.0,      24.0,
            25.0,      26.0,      27.0,      28.0,      29.0,      30.0,
            31.0,      32.0,      33.0,      34.0,      35.0,      36.0,
            37.0,      38.0,      39.0,      40.0,      41.0,      42.0,
            43.0,      44.0,      45.0,      46.0,      47.0,      48.0,
            49.0,      50.0,      51.0,      52.0, 'Unknown'],
      dtype='object')

Empty DataFrame
Columns: [pk_cid, pk_partition, entry_date, entry_channel, active_customer, segment, short_term_deposit, loans, mortgage, funds, securities, long_term_deposit, em_account_pp, credit_card, payroll, pension_plan, payroll_account, emc_account, debit_card, em_account_p, em_acount, country_id, region_code, gender, age, deceased, salary, mes_partition, mes_nombre_partition]
Index: []

### Sustitución Region_Codes - Provincia

In [47]:
# Diccionario de mapeo de códigos de provincia a nombres de provincia

provincia_mapping = {
    00: "Extranjero",1: "Álava",2: "Albacete",3: "Alicante",4: "Almería",5: "Ávila",6: "Badajoz",7: "Baleares, Islas",
    8: "Barcelona",9: "Burgos",10: "Cáceres",11: "Cádiz",12: "Castellón",13: "Ciudad Real",14: "Córdoba",15: "Coruña, A",
    16: "Cuenca",17: "Girona",18: "Granada",19: "Guadalajara",20: "Gipuzkoa",21: "Huelva",22: "Huesca",23: "Jaén",24: "León",
    25: "Lleida",26: "Rioja, La",27: "Lugo",28: "Madrid",29: "Málaga",30: "Murcia",31: "Navarra",32: "Ourense",33: "Asturias",
    34: "Palencia",35: "Palmas, Las",36: "Pontevedra",37: "Salamanca",38: "Santa Cruz de Tenerife",39: "Cantabria",40: "Segovia",
    41: "Sevilla",42: "Soria",43: "Tarragona",44: "Teruel",45: "Toledo",46: "Valencia",47: "Valladolid",48: "Bizkaia",49: "Zamora",
    50: "Zaragoza",51: "Ceuta",52: "Melilla"}

In [48]:
# Mapear los códigos de 'region_code' a nombres de provincia
df_full['region_code'] = df_full['region_code'].map(provincia_mapping)

# Verificar que la sustitución se realizó correctamente
print(df_full[['region_code']].drop_duplicates())

                    region_code
1479563                  Madrid
3628238               Barcelona
237926                  Sevilla
237918                 Valencia
237937                     León
4480619               Cantabria
237940                 Alicante
1479538                 Navarra
1479554               Coruña, A
237904                 Albacete
3628190                  Toledo
2943585                 Segovia
237913                   Murcia
237911                 Zaragoza
2168148             Palmas, Las
5132997             Ciudad Real
4876072                  Huelva
4876076                    Lugo
237978               Valladolid
237969                  Badajoz
3839358              Pontevedra
237993                Salamanca
2943744                  Málaga
2943675                 Córdoba
2977050               Castellón
1222898                 Granada
237822                   Cuenca
1479760             Guadalajara
237839                 Asturias
1479744                  Burgos
3033993                 Bizkaia
1222804                  Lleida
2171124                   Cádiz
3839563         Baleares, Islas
3839651                   Soria
237866                  Cáceres
237863                   Girona
1479694                 Melilla
240946                      NaN
483537                     Jaén
238130                  Almería
2171019               Tarragona
240928                Rioja, La
238244   Santa Cruz de Tenerife
3034235                  Teruel
238199                   Zamora
241044                 Gipuzkoa
238047                  Ourense
1479373                   Álava
238091                    Ávila
1479392                  Huesca
237415                 Palencia
239300                    Ceuta

In [49]:
# Sustituir los valores NaN en 'region_code' por 'extranjero'
df_full['region_code'] = df_full['region_code'].fillna('Extranjero')

# Verificar que la sustitución se realizó correctamente
print(df_full['region_code'].unique())

['Madrid' 'Barcelona' 'Sevilla' 'Valencia' 'León' 'Cantabria' 'Alicante'
 'Navarra' 'Coruña, A' 'Albacete' 'Toledo' 'Segovia' 'Murcia' 'Zaragoza'
 'Palmas, Las' 'Ciudad Real' 'Huelva' 'Lugo' 'Valladolid' 'Badajoz'
 'Pontevedra' 'Salamanca' 'Málaga' 'Córdoba' 'Castellón' 'Granada'
 'Cuenca' 'Guadalajara' 'Asturias' 'Burgos' 'Bizkaia' 'Lleida' 'Cádiz'
 'Baleares, Islas' 'Soria' 'Cáceres' 'Girona' 'Melilla' 'Extranjero'
 'Jaén' 'Almería' 'Tarragona' 'Rioja, La' 'Santa Cruz de Tenerife'
 'Teruel' 'Zamora' 'Gipuzkoa' 'Ourense' 'Álava' 'Ávila' 'Huesca'
 'Palencia' 'Ceuta']

## SALARY

In [50]:
# Contar cuántos valores únicos de 'salary' tiene cada cliente
estado_por_cliente_salary = df_full.groupby('pk_cid')['salary'].nunique()

# Identificar clientes con múltiples valores de salario (cambios en el salario)
clientes_mixtos_salary = estado_por_cliente_salary[estado_por_cliente_salary > 1].index

# Excluir los clientes mixtos del análisis de las otras categorías
df_no_mixtos_salary = df_full[~df_full['pk_cid'].isin(clientes_mixtos_salary)]

# Identificar clientes que tienen siempre el mismo salario
clientes_mismo_salary = df_no_mixtos_salary.groupby('pk_cid')['salary'].nunique()
clientes_mismo_salary = clientes_mismo_salary[clientes_mismo_salary == 1].index

# Identificar clientes con valores NaN en 'salary' (excluyendo clientes mixtos)
clientes_con_nan_salary = df_no_mixtos_salary[df_no_mixtos_salary['salary'].isna()]['pk_cid'].unique()

# Contar el número de clientes en cada categoría (excluyendo mixtos)
n_mismo_salary = len(clientes_mismo_salary)
n_con_nan_salary = len(clientes_con_nan_salary)
n_mixtos_salary = len(clientes_mixtos_salary)

# Mostrar los resultados
print(f"Clientes que tienen siempre el mismo salario: {n_mismo_salary}")
print(f"Clientes con valores NaN en 'salary' en todas las ingestas: {n_con_nan_salary}")
print(f"Clientes con valores de salario mixtos, varían con la ingesta de datos (diferentes valores): {n_mixtos_salary}")

Clientes que tienen siempre el mismo salario: 299443
Clientes con valores NaN en 'salary' en todas las ingestas: 156930
Clientes con valores de salario mixtos, varían con la ingesta de datos (diferentes valores): 0

In [51]:
df_full["salary"].describe()

count    4,450,821.00
mean       115,816.72
std        199,551.89
min          1,202.73
25%         61,500.63
50%         88,654.65
75%        131,669.91
max     28,894,395.51
Name: salary, dtype: float64

### Imputación de Nan

In [52]:
# Filtrar los registros donde 'salary' es NaN
casos_salary_nan = df_full[df_full['salary'].isna()]

casos_salary_nan["country_id"].value_counts()

country_id
ES    1509864
GB        420
US        231
DE        213
FR        212
CH        196
BR         88
BE         86
VE         79
IE         68
MX         65
PL         60
AT         51
AR         51
IT         45
MA         34
CN         28
RU         17
SA         17
LU         17
CI         17
QA         17
DO         17
CL         17
GT         17
ET         17
MR         17
SN         17
GA         17
CO         17
NO         17
CM         17
SE         16
PT         11
DJ         11
JM         11
HU          8
Name: count, dtype: int64

#### Creación Grupos de Edad

Como tenemos valores nulos de practicamente todos los países, se me ocurre aplicar el salario mediano pero atendiendo al grupo de edad del sujeto, país de residencia y actividad comercial.  Por tanto, en primer lugar vamos a segmentar en grupos de edad. La segmentación de edades más utilizada suele ser la siguiente:

Menores: eGrupo compuesto por personas menores de dieciocho años

Jóvenes: El grupo de jóvenes son las personas mayores a dieciocho años y menores de veinticinco años.

Adultos jóvenes: Este segmento incluye personas mayores de veinticinco años y menores de cuarenta años.

Adultos: Son las personas mayores de cuarenta años y menores a los cincuenta y cinco años.

Adultos mayores: Encontramos en este grupo a las personas mayores de cincuenta y cinco años y menores de sesenta y cinco.

Ancianos: Son las personas con más sesenta y cinco años y menos de setenta y cinco años.

Longevos: Son todas las personas de setenta y cinco años en adelante.

In [53]:
# Definir función para categorizar según grupos de edad
def categorizar_edad(edad):
    if edad < 18:
        return 'Menores'
    elif 18 <= edad < 25:
        return 'Jóvenes'
    elif 25 <= edad < 40:
        return 'Adultos jóvenes'
    elif 40 <= edad < 55:
        return 'Adultos'
    elif 55 <= edad < 65:
        return 'Adultos mayores'
    elif 65 <= edad < 75:
        return 'Ancianos'
    else:
        return 'Longevos'

# Crear nueva columna 'grupo_edad' en el DataFrame
df_full['grupo_edad'] = df_full['age'].apply(categorizar_edad)

In [54]:
df_full['grupo_edad'].value_counts()

grupo_edad
Jóvenes            2933039
Adultos jóvenes    1963573
Adultos             714564
Adultos mayores     183589
Ancianos             80234
Longevos             52072
Menores              35853
Name: count, dtype: int64

In [55]:
# Eliminar filas donde 'pk_cid' esté duplicado, quedándote solo con la primera aparición de cada 'pk_cid'
df_full_sin_duplicados = df_full.drop_duplicates(subset=['pk_cid'], keep='first')

In [56]:
df_full_sin_duplicados.shape

(456373, 30)

In [57]:
df_full_sin_duplicados['grupo_edad'].value_counts()

grupo_edad
Jóvenes            226902
Adultos jóvenes    143328
Adultos             57788
Adultos mayores     14889
Ancianos             6534
Longevos             4137
Menores              2795
Name: count, dtype: int64

In [58]:
# Filtrar el DataFrame para incluir solo aquellos con 'grupo_edad' igual a 'menores'
df_menores = df_full_sin_duplicados[df_full_sin_duplicados['grupo_edad'] == 'Menores']

# Calcular la mediana de la columna 'salary' para los menores
mediana_salary_menores = df_menores['salary'].median()

mediana_salary_menores

126388.32

In [59]:
df_menores['salary'].describe()

count       1,901.00
mean      151,454.33
std       105,510.75
min         4,559.55
25%        87,611.16
50%       126,388.32
75%       186,018.39
max     1,344,774.18
Name: salary, dtype: float64

In [60]:
df_menores['salary'].value_counts()

salary
108,644.82    6
273,387.54    4
53,210.94     4
81,222.18     3
140,936.25    3
             ..
118,031.19    1
91,338.63     1
107,360.16    1
71,735.07     1
145,731.12    1
Name: count, Length: 1490, dtype: int64

In [61]:
# Filtrar las filas donde 'salary' no es null
df_menores_sin_na_salary = df_menores[df_menores['salary'].notna()]

df_menores_sin_na_salary

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount,country_id,region_code,gender,age,deceased,salary,mes_partition,mes_nombre_partition,grupo_edad
1476977,617264,2018-07-28,2018-04-09,NaN,1,NaN,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,Madrid,H,13,N,"286,573.44",7,July,Menores
238555,842350,2018-01-28,2015-12-05,KFA,0,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,Madrid,V,8,N,"275,420.46",1,January,Menores
238647,864627,2018-01-28,2015-06-14,KFA,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,Málaga,V,16,N,"130,015.80",1,January,Menores
1478197,937368,2018-07-28,2015-01-11,KFA,0,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,Barcelona,H,6,N,"109,631.16",7,July,Menores
83238,970787,2018-01-28,2015-09-05,KFA,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,Madrid,H,14,N,"234,170.37",1,January,Menores
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2493568,1453488,2018-09-28,2018-09-17,NaN,0,NaN,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,Granada,V,12,N,"60,671.04",9,September,Menores
2493678,1453671,2018-09-28,2018-09-18,NaN,0,NaN,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,Segovia,V,10,N,"74,837.49",9,September,Menores
2493671,1453707,2018-09-28,2018-09-18,NaN,1,NaN,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,Madrid,V,4,N,"61,097.04",9,September,Menores
2508202,1453988,2018-09-28,2018-09-18,NaN,0,NaN,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,Madrid,V,10,N,"100,846.05",9,September,Menores
2508039,1454513,2018-09-28,2018-09-18,NaN,1,NaN,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,Madrid,V,11,N,"145,731.12",9,September,Menores

Vamos a hacer que la variable grupo edad sea constante para cada individuo, ya que entendemos que un cambio de grupo en un periodo de 3 años no va a suponer un cambio determinante en el patrón de comportamiento de cada cliente, además, si en ese periodo ha cambiado de un segmento a otro, entonces, quiere decir que estaba mucho más próximo al último grupo en cuestión

In [62]:
# Agrupar por 'pk_cid' y obtener el último valor de 'grupo_edad' para cada 'pk_cid'
ultimo_grupo_edad = df_full.groupby('pk_cid')['grupo_edad'].last().reset_index()

# Renombrar la columna 'grupo_edad' en el DataFrame resultante para hacer el merge
ultimo_grupo_edad.rename(columns={'grupo_edad': 'ultimo_grupo_edad'}, inplace=True)

# Hacer un merge del DataFrame original con el DataFrame de los últimos valores
df_full = df_full.merge(ultimo_grupo_edad, on='pk_cid', how='left')

# Actualizar la columna 'grupo_edad' con el último valor registrado
df_full['grupo_edad'] = df_full['ultimo_grupo_edad']

# Eliminar la columna temporal
df_full.drop(columns=['ultimo_grupo_edad'], inplace=True)

In [63]:
df_full['salary'].describe()

count    4,450,821.00
mean       115,816.72
std        199,551.89
min          1,202.73
25%         61,500.63
50%         88,654.65
75%        131,669.91
max     28,894,395.51
Name: salary, dtype: float64

Ahora que tenemos los grupos de edad definidos, podemos proceder a imputar los valores nulos de salary usando la mediana del salario dentro de cada segmento.

In [64]:
# Reemplazar los valores NaN en la columna 'Segment' con '03 - UNIVERSITARIO'
df_full['segment'] = df_full['segment'].fillna('03 - UNIVERSITARIO')

#!!!!(Importante aquí calculamos la mediana sobre el conjunto sin duplicados, si no afecta a la mediana)!!!
# Calcular la mediana de 'salary' para cada combinación de país, región, grupo de edad y actividad comercial
mediana_salary = df_full_sin_duplicados.groupby(['country_id', 'grupo_edad', 'segment', 'region_code'])['salary'].median()

# Imputar los valores nulos de 'salary' con la mediana correspondiente
df_full['salary'] = df_full.apply(
    lambda row: mediana_salary[row['country_id'], row['grupo_edad'], row['segment'], row['region_code']]
    if pd.isna(row['salary']) else row['salary'], axis=1
)

/var/folders/kd/0_6lrydd7_98gvywpcnyq6dm0000gn/T/ipykernel_26796/2117187028.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mediana_salary = df_full_sin_duplicados.groupby(['country_id', 'grupo_edad', 'segment', 'region_code'])['salary'].median()

In [65]:
#!!!!(Importante aquí calculamos la mediana sobre el conjunto sin duplicados, si no afecta a la mediana)!!!
# Calcular la mediana de 'salary' para cada combinación de país, grupo de edad y actividad comercial
mediana_salary = df_full_sin_duplicados.groupby(['country_id', 'grupo_edad', 'segment'])['salary'].median()

# Imputar los valores nulos de 'salary' con la mediana correspondiente
df_full['salary'] = df_full.apply(
    lambda row: mediana_salary[row['country_id'], row['grupo_edad'], row['segment']]
    if pd.isna(row['salary']) else row['salary'], axis=1
)

/var/folders/kd/0_6lrydd7_98gvywpcnyq6dm0000gn/T/ipykernel_26796/1824985365.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mediana_salary = df_full_sin_duplicados.groupby(['country_id', 'grupo_edad', 'segment'])['salary'].median()

In [66]:
df_full["salary"].describe()

count    5,960,140.00
mean       110,032.64
std        173,419.76
min          1,202.73
25%         65,823.87
50%         87,875.10
75%        125,161.53
max     28,894,395.51
Name: salary, dtype: float64

Categorizar edades:

La función categorizar_edad toma la edad y la clasifica en uno de los grupos definidos.

Luego, apply se utiliza para aplicar esta función a la columna age, creando una nueva columna grupo_edad en el DataFrame.

Calcular mediana:

groupby se utiliza para agrupar los datos por país (country_id), región (region_code), grupo de edad (grupo_edad), y actividad comercial (segment).

La mediana del salario para cada grupo se calcula y se almacena en mediana_salary.

Imputación:

Para cada fila, si el salario es nulo (NaN), se reemplaza con la mediana correspondiente calculada en el paso anterior.

In [67]:
# Filtrar los registros donde 'salary' es NaN
casos_salary_nan = df_full[df_full['salary'].isna()]

# Mostrar los casos con 'salary' como NaN
casos_salary_nan

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount,country_id,region_code,gender,age,deceased,salary,mes_partition,mes_nombre_partition,grupo_edad
6057,130419,2018-02-28,2017-12-31,KAT,0,02 - PARTICULARES,0,0,0,0,0,0,0,1,0.00,0.00,0,0,0,0,0,US,Extranjero,V,53,N,NaN,2,February,Adultos
6058,130419,2018-03-28,2017-12-31,KAT,0,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,US,Extranjero,V,53,N,NaN,3,March,Adultos
6059,130419,2018-04-28,2017-12-31,KAT,0,02 - PARTICULARES,0,0,0,0,0,0,0,1,0.00,0.00,0,0,0,0,0,US,Extranjero,V,53,N,NaN,4,April,Adultos
6060,130419,2018-05-28,2017-12-31,KAT,0,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,US,Extranjero,V,53,N,NaN,5,May,Adultos
6061,130419,2018-07-28,2017-12-31,KAT,0,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,US,Extranjero,V,53,N,NaN,7,July,Adultos
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5962243,1552805,2019-05-28,2019-05-26,NaN,0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,Madrid,V,2,N,NaN,5,May,Menores
5962284,1552858,2019-05-28,2019-05-26,NaN,1,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,Santa Cruz de Tenerife,V,11,N,NaN,5,May,Menores
5962565,1553226,2019-05-28,2019-05-30,NaN,0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,Sevilla,H,9,N,NaN,5,May,Menores
5962610,1553282,2019-05-28,2019-05-30,NaN,0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,Tarragona,H,4,N,NaN,5,May,Menores
5962816,1553550,2019-05-28,2019-05-31,NaN,0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.00,0.00,0,0,0,0,0,ES,Barcelona,H,6,N,NaN,5,May,Menores

Comprobamos que siguen qeudando casos con salary = Nan, aunqueson bastante escasos 1749 filas, que se corresponden con 130 individuos, puede ser que para estos no haya grupos de referencia que cumplan con las mismas características establecidas. Como sigue habiendo datos con Salary Nan, vamos a rellenarlos con el salario mediano del grupo_edad y el country_id

In [68]:
#!!!!(Importante aquí calculamos la mediana sobre el conjunto sin duplicados, si no afecta a la mediana)!!!
# Calcular la mediana del salario por grupo_edad y country_id
median_salary = df_full_sin_duplicados.groupby(['grupo_edad', 'country_id'])['salary'].median().reset_index()

# Renombrar la columna de salario mediano para mayor claridad
median_salary.rename(columns={'salary': 'median_salary'}, inplace=True)

# Combinar la mediana de salario con el DataFrame original
df_full = pd.merge(df_full, median_salary, on=['grupo_edad', 'country_id'], how='left')

# Rellenar los NaN en la columna salary con la mediana correspondiente
df_full['salary'].fillna(df_full['median_salary'], inplace=True)

# Eliminar la columna temporal de salario mediano si ya no es necesaria
df_full.drop(columns=['median_salary'], inplace=True)

# Verificar que no queden valores NaN en salary
nan_count = df_full['salary'].isna().sum()
print(f"Número de valores NaN restantes en 'salary': {nan_count}")

/var/folders/kd/0_6lrydd7_98gvywpcnyq6dm0000gn/T/ipykernel_26796/2971945733.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_full['salary'].fillna(df_full['median_salary'], inplace=True)

Número de valores NaN restantes en 'salary': 1856

Por último, solo nos quedaremos con la media de country_id al ser una variable que intutivamente más influencia tendrá en los cambios de salario

In [69]:
#!!!!(Importante aquí calculamos la mediana sobre el conjunto sin duplicados, si no afecta a la mediana)!!!
# Calcular la mediana del salario por country_id
median_salary = df_full_sin_duplicados.groupby(['country_id'])['salary'].median().reset_index()

# Renombrar la columna de salario mediano para mayor claridad
median_salary.rename(columns={'salary': 'median_salary'}, inplace=True)

# Combinar la mediana de salario con el DataFrame original
df_full = pd.merge(df_full, median_salary, on=['country_id'], how='left')

# Rellenar los NaN en la columna salary con la mediana correspondiente
df_full['salary'].fillna(df_full['median_salary'], inplace=True)

# Eliminar la columna temporal de salario mediano si ya no es necesaria
df_full.drop(columns=['median_salary'], inplace=True)

# Verificar que no queden valores NaN en salary
nan_count = df_full['salary'].isna().sum()
print(f"Número de valores NaN restantes en 'salary': {nan_count}")

/var/folders/kd/0_6lrydd7_98gvywpcnyq6dm0000gn/T/ipykernel_26796/2677138225.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_full['salary'].fillna(df_full['median_salary'], inplace=True)

Número de valores NaN restantes en 'salary': 1606

In [70]:
#!!!!(Importante aquí calculamos la mediana sobre el conjunto sin duplicados, si no afecta a la mediana)!!!
# Calcular la mediana del salario por grupo_edad
median_salary = df_full_sin_duplicados.groupby(['grupo_edad'])['salary'].median().reset_index()

# Renombrar la columna de salario mediano para mayor claridad
median_salary.rename(columns={'salary': 'median_salary'}, inplace=True)

# Combinar la mediana de salario con el DataFrame original
df_full = pd.merge(df_full, median_salary, on=['grupo_edad'], how='left')

# Rellenar los NaN en la columna salary con la mediana correspondiente
df_full['salary'].fillna(df_full['median_salary'], inplace=True)

# Eliminar la columna temporal de salario mediano si ya no es necesaria
df_full.drop(columns=['median_salary'], inplace=True)

# Verificar que no queden valores NaN en salary
nan_count = df_full['salary'].isna().sum()
print(f"Número de valores NaN restantes en 'salary': {nan_count}")

/var/folders/kd/0_6lrydd7_98gvywpcnyq6dm0000gn/T/ipykernel_26796/652842950.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_full['salary'].fillna(df_full['median_salary'], inplace=True)

Número de valores NaN restantes en 'salary': 0

## DATASET LOG

In [71]:
# Crear una lista de las columnas que deseas eliminar
columnas_a_eliminar = [
    'deceased', 'entry_date', 'entry_channel', 'active_customer', 
    'segment', 'short_term_deposit', 'loans', 'mortgage', 'funds', 
    'securities', 'long_term_deposit', 'em_account_pp', 'credit_card', 
    'payroll', 'pension_plan', 'payroll_account', 'emc_account', 
    'debit_card', 'em_account_p', 'em_acount'
]

# Crear una copia del DataFrame original y eliminar las columnas especificadas
sociodemographic_df_adrian = df_full.copy()
sociodemographic_df_adrian = sociodemographic_df_adrian.drop(columns=columnas_a_eliminar)

# Verificar las primeras filas del nuevo DataFrame para asegurarse de que las columnas se eliminaron correctamente
sociodemographic_df_adrian.head()

,pk_cid,pk_partition,country_id,region_code,gender,age,salary,mes_partition,mes_nombre_partition,grupo_edad
0,15891,2018-07-28,ES,Madrid,H,59,"102,377.40",7,July,Adultos mayores
1,15891,2018-08-28,ES,Madrid,H,59,"132,384.45",8,August,Adultos mayores
2,16063,2018-11-28,ES,Madrid,H,62,"102,377.40",11,November,Adultos mayores
3,16063,2018-12-28,ES,Madrid,H,62,"132,384.45",12,December,Adultos mayores
4,16063,2019-01-28,ES,Madrid,H,62,"132,384.45",1,January,Adultos mayores

In [72]:
df_full.to_csv('sociodemographic_df_adrian.csv', index=False)

In [73]:
# Columnas de interés
columns_of_interest = ['pk_cid', 'pk_partition', 'country_id', 'region_code', 'gender', 'age', 'salary', 'grupo_edad']

# Comprobar valores NaN
nan_check = sociodemographic_df_adrian[columns_of_interest].isna().sum()

# Comprobar valores 'Unknown'
unknown_check = sociodemographic_df_adrian[columns_of_interest].applymap(lambda x: x == 'Unknown').sum()

# Mostrar resultados
print("Número de valores NaN por columna:")
print(nan_check)

print("\nNúmero de valores 'Unknown' por columna:")
print(unknown_check)

/var/folders/kd/0_6lrydd7_98gvywpcnyq6dm0000gn/T/ipykernel_26796/1557122371.py:8: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  unknown_check = sociodemographic_df_adrian[columns_of_interest].applymap(lambda x: x == 'Unknown').sum()

Número de valores NaN por columna:
pk_cid          0
pk_partition    0
country_id      0
region_code     0
gender          0
age             0
salary          0
grupo_edad      0
dtype: int64

Número de valores 'Unknown' por columna:
pk_cid          0
pk_partition    0
country_id      0
region_code     0
gender          0
age             0
salary          0
grupo_edad      0
dtype: int64

In [87]:
# Guardar el DataFrame en un archivo parquet para subirlo a s3 de aws
#sociodemographic_df_adrian.to_parquet('sociodemographic_df_adrian.parquet', index=False)

### DASHBOARD DATASET

In [75]:
# Crear una copia del DataFrame original y eliminar las columnas especificadas
dashboard_df_adrian = sociodemographic_df_adrian.copy()

# 1. Calcular la mediana del salario para cada individuo (pk_cid)
# Asumiendo que la columna de salario se llama 'salary'
mediana_salario = dashboard_df_adrian.groupby('pk_cid')['salary'].median().reset_index()

# Renombrar la columna de salario a 'median_salary'
mediana_salario.rename(columns={'salary': 'median_salary'}, inplace=True)

# 3. Eliminar la columna 'age' del DataFrame y eliminar la columna 'age' del DataFrame
dashboard_df_adrian = dashboard_df_adrian.drop(columns=['salary'])
dashboard_df_adrian = dashboard_df_adrian.drop(columns=['age'])

# 3. Obtener el último valor de 'region_code' para cada individuo
# Asumiendo que 'pk_partition' es un indicador de tiempo, seleccionaremos la última entrada de cada cliente
ultimo_region_code = dashboard_df_adrian.sort_values('pk_partition').groupby('pk_cid')['region_code'].last().reset_index()

# Unir los datos de mediana de salario y último 'region_code' con los datos originales
# Primero combinamos con la mediana del salario
dashboard_df_adrian = pd.merge(dashboard_df_adrian, mediana_salario, on='pk_cid', how='left')

# Luego combinamos con el último 'region_code'
dashboard_df_adrian = pd.merge(dashboard_df_adrian, ultimo_region_code, on='pk_cid', how='left', suffixes=('', '_latest'))

# Eliminar la columna 'region_code' original, si es necesario
dashboard_df_adrian.drop(columns=['region_code'], inplace=True)

# Renombrar 'region_code_latest' a 'region_code' para claridad
dashboard_df_adrian.rename(columns={'region_code_latest': 'region_code'}, inplace=True)

In [76]:
dashboard_df_adrian.head(20)

,pk_cid,pk_partition,country_id,gender,mes_partition,mes_nombre_partition,grupo_edad,median_salary,region_code
0,15891,2018-07-28,ES,H,7,July,Adultos mayores,"117,380.93",Madrid
1,15891,2018-08-28,ES,H,8,August,Adultos mayores,"117,380.93",Madrid
2,16063,2018-11-28,ES,H,11,November,Adultos mayores,"132,384.45",Madrid
3,16063,2018-12-28,ES,H,12,December,Adultos mayores,"132,384.45",Madrid
4,16063,2019-01-28,ES,H,1,January,Adultos mayores,"132,384.45",Madrid
5,16063,2019-02-28,ES,H,2,February,Adultos mayores,"132,384.45",Madrid
6,16063,2019-03-28,ES,H,3,March,Adultos mayores,"132,384.45",Madrid
7,16063,2019-04-28,ES,H,4,April,Adultos mayores,"132,384.45",Madrid
8,16063,2019-05-28,ES,H,5,May,Adultos mayores,"132,384.45",Madrid
9,16203,2018-12-28,ES,V,12,December,Ancianos,"153,902.88",Barcelona
10,16203,2019-01-28,ES,V,1,January,Ancianos,"153,902.88",Barcelona
11,16203,2019-02-28,ES,V,2,February,Ancianos,"153,902.88",Barcelona
12,16203,2019-03-28,ES,V,3,March,Ancianos,"153,902.88",Barcelona
13,16203,2019-04-28,ES,V,4,April,Ancianos,"153,902.88",Barcelona
14,16203,2019-05-28,ES,V,5,May,Ancianos,"153,902.88",Barcelona
15,16502,2018-09-28,ES,H,9,September,Adultos mayores,"132,384.45",Madrid
16,16502,2018-10-28,ES,H,10,October,Adultos mayores,"132,384.45",Madrid
17,16502,2018-11-28,ES,H,11,November,Adultos mayores,"132,384.45",Madrid
18,16502,2018-12-28,ES,H,12,December,Adultos mayores,"132,384.45",Madrid
19,16502,2019-01-28,ES,H,1,January,Adultos mayores,"132,384.45",Madrid

In [77]:
# Verificar las columnas con más de un valor único para cada pk_cid
variabilidad_por_columna = dashboard_df_adrian.groupby('pk_cid').nunique()

# Filtrar para encontrar las columnas que tienen más de un valor único para algún pk_cid
columnas_con_duplicados = variabilidad_por_columna.columns[variabilidad_por_columna.gt(1).any()]

# Mostrar las columnas con duplicados y algunos ejemplos de duplicados
print(f"Columnas con duplicados para un mismo 'pk_cid': {list(columnas_con_duplicados)}")

Columnas con duplicados para un mismo 'pk_cid': ['pk_partition', 'mes_partition', 'mes_nombre_partition']

In [78]:
# Especificar las columnas a excluir para considerar duplicados
columnas_excluir = ['pk_partition', 'mes_partition', 'mes_nombre_partition']

# Crear una lista de columnas a considerar para eliminar duplicados
columnas_considerar = [col for col in dashboard_df_adrian.columns if col not in columnas_excluir]

# Eliminar duplicados basándose en las columnas especificadas
df_unique = dashboard_df_adrian.drop_duplicates(subset=columnas_considerar)

# Contar los valores únicos de 'pk_cid' en df_unique
num_unicos_df_dash = df_unique['pk_cid'].nunique()

# Contar los valores únicos de 'pk_cid' en df_full
num_unicos_df_full = df_full['pk_cid'].nunique()

print("Número de valores únicos de pk_cid en df_unique es:", num_unicos_df_dash)
print("Número de valores únicos de pk_cid en df_full es:", num_unicos_df_full)

Número de valores únicos de pk_cid en df_unique es: 456373
Número de valores únicos de pk_cid en df_full es: 456373

In [79]:
# Mostrar filas que tienen 'pk_cid' duplicados en df_unique
duplicados_pk_cid = df_unique[df_unique['pk_cid'].duplicated(keep=False)]

# Mostrar los resultados
if not duplicados_pk_cid.empty:
    print("Filas con 'pk_cid' duplicados:")
    display(duplicados_pk_cid)
else:
    print("No hay duplicados en la columna 'pk_cid'.")

No hay duplicados en la columna 'pk_cid'.

In [80]:
dashboard_df_adrian.to_csv('dashboard_sociodemographic.csv', index=False)

# *RESUMEN IMPUTACIONES*

Columnas creadas:

 - Mes_partition y mes_nombre_partition: Creamos un identificador del mes partition, ya que puede ser una variable explicativa en el futuro si existen estacionalidades de meses

 - Grupo_edad: La segmentación de edades más utilizada suele ser la siguiente:

        - Menores: eGrupo compuesto por personas menores de dieciocho años

        - Jóvenes: El grupo de jóvenes son las personas mayores a dieciocho años y menores de veinticinco años.

        - Adultos jóvenes: Este segmento incluye personas mayores de veinticinco años y menores de cuarenta años.

        - Adultos: Son las personas mayores de cuarenta años y menores a los cincuenta y cinco años.

        - Adultos mayores: Encontramos en este grupo a las personas mayores de cincuenta y cinco años y menores de sesenta y cinco.

        - Ancianos: Son las personas con más sesenta y cinco años y menos de setenta y cinco años.

        - Longevos: Son todas las personas de setenta y cinco años en adelante.


Asignaciones de valores en variables:

 - Age:

   - Edad mixta: 

      - Variaciones + 3 años. En este caso, vamos a sustituir todos los valores de Age por el último valor conocido, ya que, a futuro lo más coherente será crear categorías de edad en las que se agrupen distintas décadas, por tanto, las variaciones internas de cada cliente van a ser practicamente irrelevantes (si un cliente pasa de 30-33 no es diferenciador), y además, se sobreentiende que los errores de tipificación se corrigen con el tiempo, por tanto, cuanto más reciente sea una entrada, más probable es que sea correcta.

       - Variacion negativa: De igual forma vamos a sustituir todas las edades de los casos con variaciones negativas por la edad que figure en la última entrada de cada usuario

 - Country_id Mixto: En este caso también vamos a modificar los casos de clientes con un country_id mixto en el DataFrame df_full, y asignarles el último país registrado para su pk_cid, ya que al tratarse solo de 25 clientes, todo parece indicar que se trata de errores en la toma de datos. Además, suponiendo que estos cambios de residencia fueran reales, entonces el salario debería sufrir modificaciones, situación que no se observa en ninguno de los casos. Por tanto, nos vamos a quedar con la información más actualizada de cada individuo.

 - Deceased: Como podemos comprobar, por un lado, la variable deceased tiene una variabilidad practicamente despreciable, por tanto, es lógico pensar que dicha variable no va a tener una capacidad explicativa suficiente.

      No vamos a tener en cuenta la variable deceased para hacer modelos al no tener ninguna capacidad predictiva ni explicativa.

      Además dada su alta correlación con otras variables como el grupo de edad, es prudente elimiarla en los modelos para no caer en problemas de multicolinealidad entre las variables explicativas.

 - Gender:

   - Unknown constante: Vamos a imputar los Unknown y los vamos a cambiar por Hombre, ya que, ambos individuos superan los 70 años (sería extraño que se identiffiquen como género fluido y la variable H es la que presenta mayor proporción, por tanto lo imputaremos a esta).

    - Unknown Mixto: Le imputaremos el último género conocido

    - Géneros Mixtos: También vamos a modificar los casos en lso que el género es mixto, tomando el último valor registrado para cada individuo, ya que como hemos apuntado anteriormente, es lógico pensar que la última entrada de cada cliente es la más actualizada, y por tanto, la correcta.

 - Region_code:

    - Region Unknown: Vamos a sustituir region_code por 28 en estos casos, al ser Madrid la región más repetida, y por en los casos de fuera de España.

      Posteriormente sustituimos cada código d eprovincia por la provincia en cuestión y le colocamos Extranjero a los que son de fuera de España

 - Salary: 

    - Imputación de Nulos: Como tenemos valores nulos de practicamente todos los países, se me ocurre aplicar el salario mediano pero atendiendo al grupo de edad del sujeto, país de residencia, región de residencia y actividad comercial. Esto de forma iterativa, es decir, como hay casos para los que no se encuentra salario mediano se van sacando variables de la ecuación por orden restrictivo, es decir las más restrictivas se quedan. Primero nos quedamos con grupo_edad y el country_id, y después solo con grupo_edad
    !!!!(Importante aquí calculamos la mediana sobre el conjunto sin duplicados, si no afecta a la mediana)!!!